<%- include("../../../partials/header") %>

<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    Mistaking Re-finance Appraisals for Market Value
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <p>
                    Re-finance appraisals can be very encouraging for homeowners, leading them to assume that the
                    appraisal is the amount that they should expect to receive for their property. Lenders often
                    estimate the value of your property higher than it actually is, however, in order to encourage
                    re-financing. The market value of your home could actually be (and often is) lower. Your best bet is
                    to ask your Realtor® for the most recent information regarding property sales in your community.
                    This will give you an up-to-date and factually accurate estimate of your property value.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Failing to "Showcase"
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <p>
                    In spite of how frequently this mistake is addressed and how simple it is to avoid, its prevalence
                    is still widespread. When attempting to sell your home to prospective buyers, do not forget to make
                    your home look as pleasant as possible. Make necessary repairs. Clean. Make sure everything
                    functions and looks presentable, and remove as many possessions as you can prior to showing. A
                    poorly kept home, or one with too much clutter, will make it dramatically more difficult for buyers
                    to become emotionally interested in your property.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    Trying to "Hard Sell" While Showing
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <p>
                    Buying a house is always an emotional and difficult decision. As a result, you should try to allow
                    prospective buyers to comfortably examine your property. Don’t try haggling or forcefully selling.
                    Instead, be friendly and hospitable. Pointing out any unnoticed amenities and being receptive to
                    questions is advisable, but this is not the time for negotiation and salesmanship.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
                    aria-controls="collapseFour">
                    Trying to Sell to Lookers
                </button>
            </h5>
        </div>

        <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                <p>
                    A prospective buyer who shows interest because of a For Sale sign or an open house ad may not really
                    be interested in your property. Often, buyers who are not accompanied by a Realtor® are 6-9 months
                    away from buying, and are more interested in seeing what is out there than in actually making a
                    purchase. They may still have to sell their house, or may not be able to afford a house yet. They
                    may still even be unsure as to whether or not they want to relocate.
                </p>

                <p>
                    Your Realtor® should be able to distinguish realistic potential buyers from mere lookers. Realtors®
                    should usually find out a prospective buyer’s savings, credit rating, and purchasing power in
                    general. If your Realtor® fails to find out this pertinent information, you should do some
                    investigating and questioning on your own. This will help you avoid wasting valuable time marketing
                    to the wrong people. If you have to do this work yourself, consider finding a new Realtor®.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
                    aria-controls="collapseFive">
                    Being Ignorant of Your Rights & Responsibilities
                </button>
            </h5>
        </div>

        <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                <p>
                    It is extremely important that you are well-informed of the details of your real estate contract.
                    Real estate contracts are legally binding documents, and they can often be complex and confusing.
                    Not being aware of the terms in your contract could cost you thousands for repairs and inspections.
                    Know what you are responsible for before signing any contract. Can the property be sold "as is"? How
                    will deed restrictions and local zoning laws affect your transaction? Not knowing the answers to
                    these kinds of questions could end up costing you a considerable amount of money.
                </p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingSix">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true"
                    aria-controls="collapseSix">
                    Signing a Contract with No Escape
                </button>
            </h5>
        </div>

        <div id="collapseSix" class="collapse show" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
                <p>
                    Hopefully you will have taken the time to choose the best Realtor® for you. But sometimes, as we all
                    know, circumstances change. Perhaps you misjudged your Realtor®, or perhaps the Realtor® has other
                    priorities on his or her mind. In any case, you should have the right to fire your agent. Also, you
                    should have the right to select another agent of your choosing. Many real estate companies will
                    simply replace an agent with another one, without consulting you. Be sure to have control over your
                    situation before signing a real estate contract.
                </p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true"
                    aria-controls="collapseSeven">
                    Limited Marketing
                </button>
            </h5>
        </div>

        <div id="collapseSeven" class="collapse show" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body">
                <p>
                    There are two obvious marketing tools that nearly every seller uses: open houses and classified ads.
                    Unfortunately, these two tools are rather ineffective. Less than 1% of homes are sold at open
                    houses, and less than 3% are sold because of classified ads. In fact, Realtors® often use open
                    houses solely to attract future prospects, not to sell that particular house. Does your Realtor®
                    have a website? There are very few successful real estate professionals who don’t, and for good
                    reason.
                </p>

                <p>
                    Your Realtor® should employ a wide variety of marketing techniques and should be committed to
                    selling your property; he or she should be available for every phone call from a prospective buyer.
                    Most calls are received, and open houses are scheduled, during business hours, so make sure that
                    your Realtor® is working on selling your home during these hours (many Realtors® work part-time).
                </p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingEight">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true"
                    aria-controls="collapseEight">
                    Choosing the Wrong Realtor®
                </button>
            </h5>
        </div>

        <div id="collapseEight" class="collapse show" aria-labelledby="headingEight" data-parent="#accordion">
            <div class="card-body">
                <p>
                    Selling your home could be the most important financial transaction in your lifetime. As a result,
                    it is extremely important that you select a Realtor® who is a good match for you. Experienced real
                    estate agents often cost the same as brand new agents. Chances are that the experienced agent will
                    be able to bring you a higher price in less time and with fewer hassles.
                </p>
                <p>
                    Take your time when selecting a real estate agent. Interview several; ask them key questions. If you
                    want to make your selling experience the best it can be, it is crucial that you select the best
                    agent for you.
                </p>
            </div>
        </div>
    </div>
</div>


<%- include("../../../partials/footer") %>