<%- include("../../../partials/header") %>

<div class="card mb-3">
    <img class="card-img-top"
        src="https://www.thespruce.com/thmb/xARCwrdgQMVrKrmvpIM7NR0wnJ0=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/Homeinteriorrenovation-GettyImages-892372566-cc34a0e66c7f44bb8665f4d6088676da.jpg"
        alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Renovating Resale</h5>
        <p class="card-text">
            The money invested in improving your home will not always translate into an equivalent return in the selling
            price of your home. So careful planning is important if you want to increase the salability of your home and
            make a profit from your renovations.

            <br>
            <br>

            Sometimes the least expensive improvements yields the highest paybacks. A lot of studies have shown that a
            fresh coat of paint on interior walls returns an average 75 percent payback. So, a $2,000 paint job could
            increase a home’s selling price by $3500.

            <br>
            <br>

            To maximize salability, choose shades of white and tame versions of popular colours. Stay away from too many
            personal touches and custom work if you plan to re-sell. It is unlikely that your investment will be
            recouped and it may prevent the quick sale of your home.

            <br>
            <br>

            The kitchen and bathroom are key areas to focus your renovation attentions. With average paybacks of 72 and
            68 percent respectively, new fixtures, cabinets and tiles could be well worth the money and/or time and
            effort. The 1999 Renovations and Home Value Survey by the Appraisal Institute of Canada (AIC) highlighted
            the top renovations and the average rate of return:

            <br>
            

        <ul>
            <li>Interior painting and décor - 73%</li>
            <li>Kitchen renovation - 72% </li>
            <li>Bathroom renovation - 68% </li>
            <li>Exterior paint - 65% </li>
            <li>Flooring upgrades - 62% </li>
            <li>Window/door replacement - 57% </li>
            <li>Main floor family room addition - 51% </li>
            <li>Fireplace addition - 50% </li>
            <li>Basement renovation - 49% </li>
            <li>Furnace/heating system replacement - 48% </li>
            <li>The study also suggests you get huge returns by cleaning and removing clutter from your house.</li>
            <li>Landscaping is another area where you will see good returns on your investment.</li>
        </ul>

        <strong>In the opinion of Canada’s professional real property valuers, the top trends in
            home renovation in 2004 are:</strong>

        <br>
        <br>

        <ul>
            <li>Home theatre room </li>
            <li>Hardwood flooring in kitchen </li>
            <li>Main floor laundry room</li>
            <li>Use of non-neutral interior paint colours </li>
            <li>Installing a jacuzzi or whirlpool bath </li>
            <li>Built-in kitchen appliances </li>
            <li>Ground floor office </li>
            <li>Addition of island in kitchen </li>
            <li>As a realtor, I can suggest which areas of your home could benefit from renovating
                and increase its value and salability.</li>
        </ul>


        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>


<%- include("../../../partials/footer") %>