<%- include("../../../partials/header") %>

<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    What is a Listing Agreement?
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <ul>
                    <li>
                        It is a contract between you and the brokerage company that the agent represents.
                    </li>
                    <li>
                        It is a framework for subsequent forms and negotiations.
                    </li>
                    <li>
                        It’s important the agreement accurately reflects your property and clearly spells out the rights
                        and
                        obligations of all parties and what is included and what is not included in the deal.
                    </li>
                </ul>

                <strong>What happens?</strong>
                <br>
                Both you and the listing agent sign the listing agreement and each receives a copy.
                The agreement binds both parties to its terms and conditions.
                Whether or not you wish your lawyer to review the agreement, you should in any case let him or her know
                that you’re selling your home.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    The Fine Print
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">

                <strong>Generally, in the agreement:</strong>

                <ul>
                    <li>
                        You appoint the brokerage company as your agent and give its representatives the authority to
                        find a purchaser
                    </li>
                    <li>
                        The duration of the agreement is indicated
                    </li>
                    <li>
                        The compensation is set out (Generally, you pay this only upon closing or when the house changes
                        hands)
                    </li>
                </ul>

                <strong>The agreement also:</strong>

                <ul>
                    <li>
                        Sets out the listing price
                    </li>
                    <li>
                        Describes the property you are selling - lot size, building size, building style and materials,
                        floor areas, heating/cooling systems, room sizes and descriptionsHere you decide what you are
                        taking with you and what you are leaving with the house. Generally, unless stated otherwise,
                        fixtures remain with the property, while chattels -- things which are movable -- aren’t included
                        in the sale. If necessary, what stays and what goes are listed under "inclusions" or
                        "exclusions."

                    </li>
                </ul>

                <strong>And finally, the agreement gives the financial details:</strong>

                <ul>
                    <li>
                        Mortgage balance
                    </li>
                    <li>
                        Monthly payments
                    </li>
                    <li>
                        Due dates for all mortgages
                    </li>
                    <li>
                        Annual property taxes
                    </li>
                    <li>
                        Any easements, rights of way, liens or charges against the property
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    Types of Listings
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <ul>
                    <li>
                        Open Listing: The authority to sell the property is given to one or more REALTORS. You also have
                        the right to sell the house yourself, without having to pay a fee for service, and without
                        dealing with the appointed REALTOR(S).
                    </li>
                    <br>
                    <li>
                        Exclusive Listing: You appoint one firm to act as your agent in the sale of your house. This
                        firm usually has the sole, irrevocable and exclusive right to sell your house for a given period
                        of time.
                    </li>
                    <br>
                    <li>
                        MLS® Listing: This is a type of exclusive listing, allowing the REALTOR to work with other
                        REALTORS through your local board’s MLS® system and give your property maximum exposure. This
                        type of cooperative effort may result in the listing agent sharing the commission with the
                        selling agent.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
                    aria-controls="collapseFour">
                    What is the MLS® System?
                </button>
            </h5>
        </div>

        <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                The MLS® system is a cooperative listing service operated by your local real estate board. Your property
                --and other properties-- are listed on it.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
                    aria-controls="collapseFive">
                    How can the MLS® System Help Sell My Home?
                </button>
            </h5>
        </div>

        <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                <ul>
                    <li>
                        Complete details of your home are sent to all the REALTORS in your area, usually within 48
                        hours, via modern technology.
                    </li>
                    <li>
                        Your property gains more exposure, because it reaches the majority of the real estate
                        professionals in your community.
                    </li>
                    <li>
                        Through MLS.ca, the national MLS® Internet website, participating local real estate boards can
                        advertise their listings to potential buyers across the country and around the world.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingSix">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true"
                    aria-controls="collapseSix">
                    Setting the Asking Price
                </button>
            </h5>
        </div>

        <div id="collapseSix" class="collapse show" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
                Although you may have an idea of how much your house is worth, it’s important to have your home valued
                by a professional on its own merits. Be careful not to price yourself too high or too low. If it’s too
                high, there’s no sale; too low and you lose on your investment.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true"
                    aria-controls="collapseSeven">
                    Marketing Your Home
                </button>
            </h5>
        </div>

        <div id="collapseSeven" class="collapse show" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body">
                aaaaa

            </div>
        </div>
    </div>





</div>

<%- include("../../../partials/footer") %>