<%- include("../../../partials/header") %>

<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    What is a Listing Agreement?
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <ul>
                    <li>
                        It is a contract between you and the brokerage company that the agent represents.
                    </li>
                    <li>
                        It is a framework for subsequent forms and negotiations.
                    </li>
                    <li>
                        It’s important the agreement accurately reflects your property and clearly spells out the rights
                        and
                        obligations of all parties and what is included and what is not included in the deal.
                    </li>
                </ul>

                <strong>What happens?</strong>
                <br>
                Both you and the listing agent sign the listing agreement and each receives a copy.
                The agreement binds both parties to its terms and conditions.
                Whether or not you wish your lawyer to review the agreement, you should in any case let him or her know
                that you’re selling your home.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    The Fine Print
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">

                <strong>Generally, in the agreement:</strong>

                <ul>
                    <li>
                        You appoint the brokerage company as your agent and give its representatives the authority to
                        find a purchaser
                    </li>
                    <li>
                        The duration of the agreement is indicated
                    </li>
                    <li>
                        The compensation is set out (Generally, you pay this only upon closing or when the house changes
                        hands)
                    </li>
                </ul>

                <strong>The agreement also:</strong>

                <ul>
                    <li>
                        Sets out the listing price
                    </li>
                    <li>
                        Describes the property you are selling - lot size, building size, building style and materials,
                        floor areas, heating/cooling systems, room sizes and descriptionsHere you decide what you are
                        taking with you and what you are leaving with the house. Generally, unless stated otherwise,
                        fixtures remain with the property, while chattels -- things which are movable -- aren’t included
                        in the sale. If necessary, what stays and what goes are listed under "inclusions" or
                        "exclusions."

                    </li>
                </ul>

                <strong>And finally, the agreement gives the financial details:</strong>

                <ul>
                    <li>
                        Mortgage balance
                    </li>
                    <li>
                        Monthly payments
                    </li>
                    <li>
                        Due dates for all mortgages
                    </li>
                    <li>
                        Annual property taxes
                    </li>
                    <li>
                        Any easements, rights of way, liens or charges against the property
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    Types of Listings
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <ul>
                    <li>
                        Open Listing: The authority to sell the property is given to one or more REALTORS. You also have
                        the right to sell the house yourself, without having to pay a fee for service, and without
                        dealing with the appointed REALTOR(S).
                    </li>
                    <br>
                    <li>
                        Exclusive Listing: You appoint one firm to act as your agent in the sale of your house. This
                        firm usually has the sole, irrevocable and exclusive right to sell your house for a given period
                        of time.
                    </li>
                    <br>
                    <li>
                        MLS® Listing: This is a type of exclusive listing, allowing the REALTOR to work with other
                        REALTORS through your local board’s MLS® system and give your property maximum exposure. This
                        type of cooperative effort may result in the listing agent sharing the commission with the
                        selling agent.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
                    aria-controls="collapseFour">
                    What is the MLS® System?
                </button>
            </h5>
        </div>

        <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                The MLS® system is a cooperative listing service operated by your local real estate board. Your property
                --and other properties-- are listed on it.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
                    aria-controls="collapseFive">
                    How can the MLS® System Help Sell My Home?
                </button>
            </h5>
        </div>

        <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                <ul>
                    <li>
                        Complete details of your home are sent to all the REALTORS in your area, usually within 48
                        hours, via modern technology.
                    </li>
                    <li>
                        Your property gains more exposure, because it reaches the majority of the real estate
                        professionals in your community.
                    </li>
                    <li>
                        Through MLS.ca, the national MLS® Internet website, participating local real estate boards can
                        advertise their listings to potential buyers across the country and around the world.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingSix">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true"
                    aria-controls="collapseSix">
                    Setting the Asking Price
                </button>
            </h5>
        </div>

        <div id="collapseSix" class="collapse show" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
                Although you may have an idea of how much your house is worth, it’s important to have your home valued
                by a professional on its own merits. Be careful not to price yourself too high or too low. If it’s too
                high, there’s no sale; too low and you lose on your investment.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true"
                    aria-controls="collapseSeven">
                    Marketing Your Home
                </button>
            </h5>
        </div>

        <div id="collapseSeven" class="collapse show" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body">
                <h4><strong>Open Houses</strong></h4>

                <strong>
                    There are two types:
                </strong>
                <ul>
                    <li>
                        An agent’s open house, where sales representatives from the listing company will be invited to
                        view your house. If you have signed an MLS® agreement, other REALTORS may also be invited.
                        Remember, each of these REALTORS may have a prospective buyer.
                    </li>
                    <li>
                        A public open house, where members of the public are invited to walk through your home and have
                        a look. It’s an efficient way to show your home to many potential buyers at once. The listing
                        agent will act as host, answering any questions.
                    </li>
                </ul>

                <strong>You and your listing agent will pick the time and date for an open house. In order to give
                    the agent access to your home, you may wish to keep a key at his or her office, or in a lockbox.
                    It’s a good idea to:</strong>

                <ul>
                    <li>
                        Leave before the open house begins and to return after it ends
                    </li>
                    <li>
                        Put away any valuables in secure locations
                    </li>
                </ul>

                <strong>But you may wish to stay behind. If you do stay, be sure to:</strong>

                <ul>
                    <li>
                        Keep out of the way
                    </li>
                    <li>
                        Don’t make excuses -- this only draws attention to the house’s faults
                    </li>
                    <li>
                        Turn off any TVs or radios to let the agent and the buyer talk in peace
                    </li>
                    <li>
                        If you have a dog, put it outside or otherwise restrain it... pets intimidate some people
                    </li>
                    <li>
                        Politely direct to the listing agent anyone wishing to discuss with you terms or price
                    </li>
                </ul>

                <strong>Needless to say, clean counts with open houses. A general rule is that clean, uncluttered and
                    well-lit
                    spaces look larger and more attractive. People will naturally want to buy a house that is clean and
                    well
                    cared for.</strong>

                <h4><strong>Other Tools</strong></h4>

                Your agent also has other tools at his or her disposal:
                <br>
                <br>
                The "For Sale" sign on your front lawn. This is how most buyers find homes. Your lawn sign is a "silent
                salesperson," constantly telling everyone that your home is for sale.
                <br>
                <br>
                Advertising your home in the real estate section of your local newspaper or in your local real estate
                board publication. Even though your home may not be shown in every issue, you can count on your agent to
                always suggest your property to buyers who are looking for a home like yours.

                <h4><strong>Renewing the Listing</strong></h4>

                Sometimes a home doesn’t sell right away. Avoid the urge to pull your home off the market... be
                persistent! Generally, there are three reasons why a home may not sell as fast as others:

                <ul>
                    <li>
                        Location
                    </li>
                    <li>
                        Condition
                    </li>
                    <li>
                        Price
                    </li>
                </ul>

                <p>
                    Naturally, you can’t change your home’s location, but you can fix the condition of your home and you
                    can, of course, adjust your price. Throughout the listing process, you need to be constantly
                    comparing your asking price against those of similar properties in your area. It may be time to
                    adjust the price of your home.
                </p>

                Review your selling strategy regularly with your listing agent:

                <ol>
                    <li>
                        Is your house being shown regularly?
                    </li>
                    <li>
                        Are you receiving the feedback from prospective buyers?
                    </li>
                    <li>
                        Are you in touch with the marketplace?
                    </li>
                    <li>
                        Is your property competing well? If not, what else can you do?
                    </li>
                </ol>

                <h4><strong>Other Tools</strong></h4>

                <h6>The offer outlines:</h6>

                <ol>
                    <li>
                        How much the buyer is willing to pay;
                    </li>
                    <li>
                        When the buyer would like to take possession;
                    </li>
                    <li>
                        Any conditions attached to the offer; and,
                    </li>
                    <li>
                        When the offer expires.
                    </li>
                </ol>

                <p>
                    As an act of good faith, the buyer will make a deposit with the offer. A good deposit will often
                    show the buyer’s sincerity.
                </p>

                <h6>
                    Along with this, the buyer may:
                </h6>

                <ul>
                    <li>
                        Attempt to "low ball" you, and submit an offer much lower than your asking price
                    </li>
                    <li>
                        Attach conditions to the offer
                    </li>
                </ul>

                <p>
                    You don’t have to accept the offer. You may wish to make a counter offer that comes partway to
                    meeting the offer’s conditions. The counter offer is one more step along the way to negotiating the
                    final terms and conditions of the sale.
                </p>

                <p>
                    The offer, once signed by everyone, is a binding contract. Make sure you understand and agree to all
                    of the terms in the document. You may want to have it reviewed by your lawyer before signing.
                </p>

                <h3>
                    Before Closing
                </h3>

                <strong>
                    If necessary, and if the buyer makes it a condition of sale, you may be asked to:
                </strong>

                <ul>
                    <li>
                        Provide a current survey, or a "real property report," showing the location of the house is on
                        the property owned by you and that there are no encroachments
                    </li>
                    <li>
                        Prove that you have title to the property (the buyer’s lawyer will check this out when he or she
                        conducts a title search to see if there are any liens on the property, easements, rights of way
                        or height restrictions)
                    </li>
                    <li>
                        Provide a health inspection certificate, if there is a septic system, stating the system meets
                        local standards
                    </li>
                </ul>

                <p>
                    The buyer may also make the purchase conditional on an inspection by a qualified engineer. You may
                    be asked by the buyer to cover this cost.
                </p>

                <h3>
                    Closing the Sale
                </h3>

                <strong>
                    On or before closing day, this is what happens:
                </strong>

                <ol>
                    <li>
                        The lawyers representing you and the buyer will set up a trust account for the money coming from
                        the sale and will pay off any mortgages you owe on the property. After these are paid, you will
                        receive any money you have coming from the sale
                    </li>
                    <li>
                        You must deliver the property deed or transfer documents, mortgage details and keys to your
                        lawyer. Your lawyer will register the mortgage discharge and transfer the deed at closing
                    </li>
                    <li>
                        Your lawyer will ensure that you receive compensation for prepaid expenses such as, property
                        taxes, electrical or gas bills, or if applicable, any heating oil left in your tank
                    </li>
                </ol>

                Some lenders will make it possible for your mortgage to be portable, so you can take your mortgage with
                you when you move to your new home.

                <strong>
                    Finally, two things to remember:
                </strong>

                <ul>
                    <li>
                        The capital gain from selling your home is tax exempt. This means the profits from selling your
                        home are not taxable.
                    </li>
                    <li>
                        Protect your investment and the deal by keeping your insurance policies in force up until the
                        date of closing.
                    </li>
                </ul>

                Here, your responsibilities under the listing agreement end. You’ll have paid your listing agent the
                agreed-upon compensation. This can be done by your lawyer who can arrange the payment from the proceeds
                of the sale.

                

            </div>
        </div>
    </div>





</div>
Source: The Canadian Real Estate Association
<%- include("../../../partials/footer") %>