<%- include("../../partials/header") %>

<div class="card-group">
  <div class="card">
    <a href="/seller/house">
      <img class="card-img-top"
        src="https://images.unsplash.com/photo-1570057633712-870fa818fa15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
        alt="Card image cap">
    </a>
    <div class="card-body">
      <a href="/seller/house">
        <h5 class="card-title">Selling your House</h5>
      </a>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <a href="/seller/renovating">
      <img class="card-img-top"
        src="https://images.unsplash.com/photo-1458022799175-1eb17cf09d90?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
        alt="Card image cap">
    </a>
    <div class="card-body">
      <a href="/seller/renovating">
        <h5 class="card-title">Renovating for Resale</h5>
      </a>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <a href="/seller/mistakes">
      <img class="card-img-top"
        src="https://images.unsplash.com/photo-1504930268766-d71549a36ec2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1307&q=80"
        alt="Card image cap">
    </a>
    <div class="card-body">
      <a href="/seller/mistakes">
        <h5 class="card-title">Common Selling Mistakes</h5>
      </a>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>


<%- include("../../partials/footer") %>