<%- include("../partials/header") %>

<div class="container listGroup">
    <div class="row" style="display:flex; flex-wrap: wrap;">
        <div class="col-md-4 col-sm-12">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                    href="#list-home" role="tab" aria-controls="home">Email</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                    href="#list-profile" role="tab" aria-controls="profile">Phone Number</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                    href="#list-messages" role="tab" aria-controls="messages">Facebook</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
                    href="#list-settings" role="tab" aria-controls="settings">Twitter</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
                    href="#list-settings" role="tab" aria-controls="settings">LinkedIn</a>
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <div class="card">
                        <div class="card-body">
                            Email 1: <a href="mailto:chopra2684@yahoo.com">chopra2684@yahoo.com</a>
                            <button class="btn btn-secondary">Copy</button>
                            <br>
                            <br>
                            Email 2: <a href="mailto:choprajius@gmail.com">choprajius@gmail.com</a>
                            <button class="btn btn-secondary">Copy</button>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    <div class="card">
                        <div class="card-body">
                            <h6>647-533-6876</h6>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                    Facebook
                    <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline"
                        data-width="" data-height="" data-small-header="false" data-adapt-container-width="true"
                        data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a
                                href="https://www.facebook.com/facebook">Facebook</a></blockquote>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                    Twitter</div>
                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                    LinkedIn</div>
            </div>
        </div>
    </div>
</div>


<%- include("../partials/footer") %>