<%- include("../partials/header") %>
    <!-- <div>
        <div id="landing-header">
            <h1>Rohan Chopra</h1>
            <h5>Welcome to My Website</h5>
            <br>
            <a href="#" class="btn btn-lg btn-info">View My Projects</a>
        </div>

        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div> -->


    <div class="container">
        <div id="searchBoxDropdown" class="input-group">
            <input type="text" class="form-control" aria-label="Text input with dropdown button">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">City</a>
                    <a class="dropdown-item" href="#">MLS ID</a>
                    <a class="dropdown-item" href="#">Postal Code</a>
                </div>
            </div>
        </div>

        <div id="typeOfHomeDropdown" class="dropdown">
            <button id="typeOfHomeSelector" class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Any</a>
                <a class="dropdown-item" href="#">Detached</a>
                <a class="dropdown-item" href="#">Semi-Detached</a>
            </div>
        </div>

        <div class="dropdown">
            <button id="typeOfHomeSelector" class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
            </div>
        </div>

        <div class="dropdown">
            <button id="typeOfHomeSelector" class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
            </div>
        </div>

        <div class="dropdown">
            <button id="typeOfHomeSelector" class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
            </div>
        </div>

        <div class="dropdown">
            <button id="typeOfHomeSelector" class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
            </div>
        </div>

        <div class="dropdown">
            <button id="typeOfHomeSelector" class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Any</a>
                <a class="dropdown-item" href="#">Sale</a>
                <a class="dropdown-item" href="#">Lease</a>
            </div>
        </div>

    </div>



    <%- include("../partials/footer") %>