<%- include("../../partials/header") %>

<body data-spy="scroll" data-offset="15" data-target="#myScrollspy">
    <div class="container">
        <h1>Choosing a Mortgage Term</h1>
        <p class="lead"><i>Scroll this page and see how the nav items are highlighted automatically based on the scroll
                position.</i></p>
        <div class="row">
            <div class="col-sm-3" id="myScrollspy">
                <nav id="navbar-scrollspy" class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <nav class="nav nav-pills flex-column">
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action active" href="#section1">Choosing a
                                Mortgage Term</a>
                            <a class="list-group-item list-group-item-action" href="#section2">Fixed vs. Variable Rate Mortgages</a>
                            <a class="list-group-item list-group-item-action" href="#section3">Closed and Open Mortgages - What’s the Difference</a>
                            <a class="list-group-item list-group-item-action" href="#section4">Amortization</a>
                        </div>

                    </nav>
                </nav>

            </div>
            <div class="col-sm-9">
                <div id="section1">
                    <h2>
                        Choosing a Mortgage Term
                    </h2>

                    <p>
                        Before you look at the issue of term specifically, there are things you should consider:
                    </p>

                    <p>
                        When you’re looking at term and interest rates, look also at what you can live with in terms of
                        payment amounts, because trying to predict where interest rates are going is a tough job. There
                        are many forces that affect Canadian interest rates - economic, political, domestic, and
                        international.
                    </p>

                    <p>
                        Even the best economists cannot pinpoint this, so how can we. You can twist yourself into knots
                        worrying what will happen. When the rates dropped in 1992 to their lowest in 35 years, no one
                        thought that they will get that low again. They dropped even further. Since then we have enjoyed
                        low rates and we don’t think of rates going in the double digits again. That’s wrong to assume
                        as well. Who would have thought in 1978 that rates only 3 years later would go as high as 21.5%?
                        Please check the graph below for a historical account.
                    </p>

                    <p>
                        Predicting interest rates is very much a gamble and one should be prepared to keep a close eye
                        on the market.
                    </p>

                    <p>
                        Here’s a suggestion: If you feel that rates are at a point you can live with and you want to
                        guarantee that rate as long as possible, go with a long term (5 years, 7 years, and 10 years).
                        If interest rates appear to be rising, take advantage of the lower rate for as long as possible,
                        and remember, if you sell your property, you can take the mortgage with you to the new property
                        or have someone assume the mortgage. It could prove to be a great selling feature if you have an
                        assumable mortgage at very low rate.
                    </p>

                    <p>
                        If rates appear to be falling, you can choose a shorter term (6-month convertible or
                        variable-rate mortgage) that offers the flexibility to lock-in to longer term at any time, just
                        in case the rates start going the other way.
                    </p>
                </div>
                <hr>

                <div id="section2">
                    <h2>
                        Fixed vs. Variable Rate Mortgages
                    </h2>

                    <p>
                        With a fixed-rate mortgage, the interest rate is set for the term of the mortgage so that the
                        monthly payment of principal and interest remains the same throughout the term. Regardless of
                        whether rates move up or down, you know exactly how much your payments will be and this
                        simplifies your personal budgeting. In a low rate climate, it is a good idea to take a longer
                        term, fixed-rate mortgage for protection from upward fluctuations in interest rates.
                    </p>

                    <p>
                        A variable-rate mortgage (also called adjustable-rate) provides a lot of flexibility, especially
                        when interest rates are on their way down. The rate is based on prime and can be adjusted
                        monthly to reflect current rates. Typically, the mortgage payment remains constant, but the
                        ratio between principal and interest fluctuates. When interest rates are falling, you pay less
                        interest and more principal. If rates are rising, you pay more interest and less principal, and
                        if they rise substantially, the original payment may not cover both the interest and principal.
                        Any portion not paid is still owed, or you may be asked to increase your monthly payment. Make
                        sure that your variable-rate mortgage is open or convertible to a fixed-rate mortgage at any
                        time, so that when rates begin to rise, you can lock-in your rate for a specific term.
                    </p>
                </div>

                <div id="section3">
                    <h2>
                        Closed and Open Mortgages - What’s the Difference
                    </h2>

                    <p>
                        An open mortgage allows you the flexibility to repay the mortgage at any time without penalty.
                        Open mortgages are available in shorter terms, 6 months or 1 year only, and the interest rate is
                        higher than closed mortgages by as much as 1%, or more. They are normally chosen if you are
                        thinking of selling your home, or if expecting to pay off the whole mortgage from the sale of
                        another property, or an inheritance (that would be nice).
                    </p>

                    <p>
                        A closed mortgage offers the security of fixed payment for terms from 6 months to 10 years. The
                        interest rates are considerably lower than open, and if you are not planning on any one of the
                        above reasons, then choose a closed mortgage. Nowadays, they offer as much as 20% prepayment of
                        the original principal, and that is more than most of us can hope to prepay on a yearly basis.
                        If one wanted to pay off the full mortgage prior to the maturity, a penalty would be charged to
                        break that mortgage. The penalty is usually 3 months interest, or interest rate differential
                        (I.R.D. - please refer to glossary for detailed explanation).
                    </p>

                </div>

                <div id="section4">
                    <h2>
                        Amortization
                    </h2>

                    <p>
                        The Amortization Period is the number of years it would take to repay the entire mortgage amount
                        based on a set of fixed payments. The longer the amortization, the more interest is paid over
                        the life of the mortgage. Therefore, when choosing the amortization period, careful planning
                        should be done to meet your cash flows. Remember, the amortization can be easily shortened after
                        the closing, by simply making arrangements to increase your payments.
                    </p>
                </div>

            </div>
        </div>
    </div>

    Source: The Canadian Real Estate Association


    <%- include("../../partials/footer") %>