<%- include("../../partials/header") %>
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Term</th>
                <th scope="col">Definition</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Additional interest
                </td>
                <td>
                    The amount sometimes charged by the bank when you prepay principal or renegotiate the terms of your
                    mortgage. The amount compensates the bank for loss of revenue.
                </td>
            </tr>
            <tr>
                <td>
                    Amortization
                </td>
                <td>
                    With a mortgage, the borrower agrees to pay back the amount borrowed over a period of time. This
                    breaking of the loan into smaller parts to be paid back over uniform blocks of time is amortization.
                </td>
            </tr>
            <tr>
                <td>
                    Amortization period
                </td>
                <td>
                    The actual number of years it will take to repay a mortgage in full. This period can be longer than
                    the loan’s term. For example, a mortgage may have a five-year term and a 25-year amortization
                    period.
                </td>
            </tr>

            <tr>
                <td>
                    Appraised value
                </td>
                <td>
                    An estimate of the market value of the home and property that the borrower pledges as security for
                    the mortgage. This value may be more or less than the purchase price of the property.
                </td>
            </tr>

            <tr>
                <td>
                    Assets
                </td>
                <td>
                    The things of value that you own, such as your home, car or summer home.
                </td>
            </tr>

            <tr>
                <td>
                    Below prime
                </td>
                <td>
                    A variable rate mortgage in which the interest rate varies with money market conditions. At any
                    given time, however, the rate will never exceed BMO Bank of Montreal’s prime rate, less 0.375%.
                </td>
            </tr>

            <tr>
                <td>
                    Blended rate mortgage
                </td>
                <td>
                    A mortgage that combines the amount the borrower owes under an existing mortgage with additional
                    mortgage money required by the borrower. The interest rate for the new amount borrowed is a "blend"
                    – or combination – of the interest rate of the old mortgage and the interest rate for the additional
                    amount to be borrowed.
                </td>
            </tr>

            <tr>
                <td>
                    Blended mortgage payment
                </td>
                <td>
                    A regular instalment payment composed of both principal and interest in which part of the money
                    received is applied toward the principal of the loan and part is put to pay the interest. This is
                    the norm for mortgage payments.
                </td>
            </tr>

            <tr>
                <td>
                    Bridge financing
                </td>
                <td>
                    A loan made for a short term, to "bridge" (or cover) the time gap between completing the purchase of
                    one property and finalizing arrangements to pay for it. The need for this type of financing often
                    results from mismatched closing dates.
                </td>
            </tr>

            <tr>
                <td>
                    CMHC/Canada Mortgage and Housing Corporation
                </td>
                <td>
                    The Canada Mortgage and Housing Corporation is a federal Crown corporation that administers the
                    National Housing Act. CMHC’s services include providing housing information and assistance to
                    consumers and providing mortgage default insurance for high ratio mortgages.
                </td>
            </tr>

            <tr>
                <td>
                    Carrying costs
                </td>
                <td>
                    The expenses of living in and maintaining a home and property. This includes mortgage payments,
                    property taxes, heating, repairs, maintenance fees, etc.
                </td>
            </tr>

            <tr>
                <td>
                    Closed mortgage
                </td>
                <td>
                    A mortgage that generally cannot be prepaid or renewed early unless the borrower is willing to pay
                    an additional interest. Some lenders may allow limited prepayment privileges without additional
                    interest.
                </td>
            </tr>

            <tr>
                <td>
                    Closing date
                </td>
                <td>
                    The date the purchase of the property becomes final and the new owner takes possession.
                </td>
            </tr>

            <tr>
                <td>
                    Collateral mortgage
                </td>
                <td>
                    A loan evidenced by a promissory note and backed by the collateral security of a mortgage on a
                    property. The money borrowed is generally used for a purpose other than the purchase of a home, such
                    as a vacation or home renovations.
                </td>
            </tr>

            <tr>
                <td>
                    Conventional mortgage
                </td>
                <td>
                    A first mortgage of up to 80% of the property’s appraised value or purchase price, whichever is
                    lower.
                </td>
            </tr>

            <tr>
                <td>
                    Convertible mortgage
                </td>
                <td>
                    A mortgage that may be prepaid or changed to another term at any time.
                </td>
            </tr>

            <tr>
                <td>
                    Deed
                </td>
                <td>
                    A legal document that transfers and evidences ownership of the property to the buyer.
                </td>
            </tr>

            <tr>
                <td>
                    Default
                </td>
                <td>
                    Failure to repay an outstanding debt as agreed.
                </td>
            </tr>

            <tr>
                <td>
                    Deposit
                </td>
                <td>
                    A sum of cash that must be paid to the vendor by the purchaser. This money is a symbol of the
                    purchaser’s commitment to buy. If the offer is accepted, the deposit is applied to the down payment.
                    If the buyer turns down the offer later, the deposit may or may not be returned.
                </td>
            </tr>

            <tr>
                <td>
                    Down payment
                </td>
                <td>
                    The amount of money put forward by the buyer toward the purchase price of a home.
                </td>
            </tr>

            <tr>
                <td>
                    Equity
                </td>
                <td>
                    The difference between the price for which a property could be sold and the total amount owing on
                    it.
                </td>
            </tr>

            <tr>
                <td>
                    First mortgage
                </td>
                <td>
                    A mortgage that is registered first against the property. This mortgage has to be paid first in the
                    event of sale or default.
                </td>
            </tr>

            <tr>
                <td>
                    Fixed rate mortgage
                </td>
                <td>
                    A mortgage for which the rate of interest is fixed for the term, i.e., a set period of time.
                </td>
            </tr>

            <tr>
                <td>
                    Floating rate mortgage
                </td>
                <td>
                    Another name for variable rate mortgage.
                </td>
            </tr>

            <tr>
                <td>
                    Gross debt service ratio
                </td>
                <td>
                    The percentage of a borrower’s gross monthly income that can be used to pay housing costs, including
                    the monthly mortgage payment (principal and interest), heating costs, property taxes and condominium
                    fees (if applicable). The total should not be more than 32% of monthly gross income.
                </td>
            </tr>

            <tr>
                <td>
                    High ratio mortgage
                </td>
                <td>
                    A mortgage for more than 80% of either or both a property’s appraised value and its purchase price.
                    In other words, the down payment amount is less than 20% of the purchase price/appraised value.
                </td>
            </tr>

            <tr>
                <td>
                    Interest
                </td>
                <td>
                    Interest is the cost of borrowing and is the amount paid on the money borrowed. It is represented as
                    an annual percentage rate applicable to the mortgage.
                </td>
            </tr>

            <tr>
                <td>
                    Liabilities
                </td>
                <td>
                    What you owe, including taxes, mortgage, car loan and credit card balances.
                </td>
            </tr>

            <tr>
                <td>
                    Maturity date
                </td>
                <td>
                    The last day of the term of your mortgage agreement. The mortgage must be paid in full or renewed by
                    this date.
                </td>
            </tr>

            <tr>
                <td>
                    Maximum rate
                </td>
                <td>
                    An alternative term for protected rate.
                </td>
            </tr>

            <tr>
                <td>
                    Mortgage
                </td>
                <td>
                    A mortgage is both a loan used to purchase or refinance a home and a security for the repayment of
                    the loan.
                </td>
            </tr>

            <tr>
                <td>
                    Mortgage disability insurance
                </td>
                <td>
                    Insurance that pays your mortgage payments should you become ill or disabled and unable to work.
                </td>
            </tr>

            <tr>
                <td>
                    Mortgage default insurance
                </td>
                <td>
                    Government-backed or privately backed insurance protecting the lender against the borrower’s default
                    on a high-ratio mortgage.
                </td>
            </tr>

            <tr>
                <td>
                    Mortgage life insurance
                </td>
                <td>
                    Insurance that pays off your mortgage debt in the event of your death.
                </td>
            </tr>

            <tr>
                <td>
                    Mortgage payment
                </td>
                <td>
                    The regular instalments made towards paying back the principal and paying interest on a mortgage.
                </td>
            </tr>

            <tr>
                <td>
                    Mortgagee
                </td>
                <td>
                    The lender.
                </td>
            </tr>

            <tr>
                <td>
                    Mortgagor
                </td>
                <td>
                    The borrower.
                </td>
            </tr>

            <tr>
                <td>
                    Multiple Listing Service (MLS)
                </td>
                <td>
                    A computer-based system for relaying information to real-estate agents about properties for sale.
                </td>
            </tr>

            <tr>
                <td>
                    Open mortgage
                </td>
                <td>
                    A mortgage that can be prepaid or re-negotiated at any time without additional interest.
                </td>
            </tr>

            <tr>
                <td>
                    Open variable mortgage
                </td>
                <td>
                    A variable rate mortgage in which the interest rate varies with money market conditions. You may
                    prepay or renegotiate an Open Variable mortgage at anytime without additional interest.
                </td>
            </tr>

            <tr>
                <td>
                    Pre-approved mortgage
                </td>
                <td>
                    A mortgage for a set maximum amount and interest rate that is arranged prior to the purchaser
                    finding a house. Often arranged prior to shopping for a home, this option can help the purchaser
                    establish an affordable price range. Also known as a pre-arranged mortgage.
                </td>
            </tr>

            <tr>
                <td>
                    Prepayment
                </td>
                <td>
                    Allows the borrower to prepay a portion or all of the principal mortgage balance, with or without
                    penalty, ahead of schedule. This decreases the total amount of interest paid over the life of your
                    mortgage. This option is typically restricted to specific amounts and times.
                </td>
            </tr>

            <tr>
                <td>
                    Principal
                </td>
                <td>
                    The amount initially borrowed under the mortgage.
                </td>
            </tr>

            <tr>
                <td>
                    Protected variable mortgage
                </td>
                <td>
                    A variable rate mortgage in which the interest rate varies with money market conditions. The
                    interest rate cannot, however, exceed a pre-set maximum rate during the term of your mortgage. This
                    maximum, equivalent to BMO Bank of Montreal’s five year fixed posted rate, is termed the "Protected
                    Rate."
                </td>
            </tr>

            <tr>
                <td>
                    Protected variable rate mortgage cap rate
                </td>
                <td>
                    As the interest rate varies with money market conditions, the interest rate cannot exceed a pre-set
                    maximum rate (Protected Variable Rate Mortgage Cap Rate) during the term of your mortgage.
                </td>
            </tr>

            <tr>
                <td>
                    Rate (interest)
                </td>
                <td>
                    The annual percentage amount charged in return for borrowing funds.
                </td>
            </tr>

            <tr>
                <td>
                    Realtor
                </td>
                <td>
                    A real estate professional who is a member of a local real estate board and the Canadian Real Estate
                    Association.
                </td>
            </tr>

            <tr>
                <td>
                    Second mortgage
                </td>
                <td>
                    A mortgage granted when there is already a mortgage registered against a property. If the borrower
                    defaults and the property is sold, the second mortgage is paid after the first.
                </td>
            </tr>

            <tr>
                <td>
                    Security
                </td>
                <td>
                    Property, or assets, offered as backing for a loan. In the case of mortgages, the property being
                    purchased or refinanced forms the security for the loan.
                </td>
            </tr>

            <tr>
                <td>
                    Survey
                </td>
                <td>
                    A document providing details of a property’s boundaries, measurements and structures. It also
                    describes any easements, rights-of-way or encroachments made by either your property or by adjoining
                    properties onto your property.
                </td>
            </tr>

            <tr>
                <td>
                    Term
                </td>
                <td>
                    The length of time a lender will lend mortgage funds to a borrower. Most mortgage terms run from six
                    months to five years. Certain lenders may offer longer terms, e.g., 6, 7 or 10 years.
                    <hr>
                    <p style="color:grey">
                        After this period, the borrower can either repay the balance-the remaining principal plus
                        interest-of the mortgage, or renew the mortgage for another term. The total length of a mortgage
                        is
                        usually made up of several terms.
                    </p>

                </td>

            </tr>

            <tr>
                <td>
                    Title
                </td>
                <td>
                    The legal evidence of ownership to a property.
                </td>
            </tr>

            <tr>
                <td>
                    Title search
                </td>
                <td>
                    A detailed examination of the registered title documents to ensure there are no liens or other
                    encumbrances, or claims, on the property, and no question regarding the seller’s statement of
                    ownership.
                </td>
            </tr>

            <tr>
                <td>
                    Total debt service (TDS) ratio
                </td>
                <td>
                    The percentage of a borrower’s gross (before tax) monthly income needed to cover payments for
                    housing costs, including principal, interest, taxes, heating costs and condominium fees (if
                    applicable), and all other debts and obligations, such as loans and credit cards. The total should
                    not be more than 40% of gross monthly income.
                </td>
            </tr>

            <tr>
                <td>
                    "20+20" Prepayment Privileges
                </td>
                <td>
                    Under the first "20", you may increase your principal and interest payment by up to 20% once each
                    calendar year. Under the second "20", you may prepay your mortgage, in minimum amounts of up to 20%
                    of the original principal each calendar year. There is no additional interest or fee when you
                    exercise either or both of the "20 + 20" privileges.
                </td>
            </tr>

            <tr>
                <td>
                    Variable rate mortgage
                </td>
                <td>
                    A mortgage for which the rate of interest fluctuates as money market rates change. While the regular
                    payments you make stay the same for the term, the amount applied toward the principal changes
                    according to the change-if any-in the rate of interest. Also known as a floating rate mortgage.
                </td>
            </tr>

            <tr>
                <td>
                    Vendor
                </td>
                <td>
                    The seller in a real estate transaction.
                </td>
            </tr>
        </tbody>
    </table>
</div>

Source: Bank of Montreal.



<%- include("../../partials/footer") %>