<%- include("../../partials/header") %>

<body data-spy="scroll" data-offset="15" data-target="#myScrollspy">
    <div class="container">
        <h1>Mortgage Application
            Steps</h1>
        <p class="lead"><i>Scroll this page and see how the nav items are highlighted automatically based on the scroll
                position.</i></p>
        <div class="row">
            <div class="col-sm-3" id="myScrollspy">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action active" href="#section1">Mortgage Application
                        Steps</a>
                    <a class="list-group-item list-group-item-action" href="#section2">Take time to Straighten out your
                        finances</a>
                    <a class="list-group-item list-group-item-action" href="#section3">Make sure to check your credit
                        record</a>
                    <a class="list-group-item list-group-item-action" href="#section4">Collect The Information You Need
                        Ahead of Time</a>
                    <a class="list-group-item list-group-item-action" href="#section5">Know The Current Lending
                        Guidelines</a>
                    <a class="list-group-item list-group-item-action" href="#section6">CMHC’s 5 Per Cent Down
                        Program</a>
                    <a class="list-group-item list-group-item-action" href="#section7">Conventional Mortgage</a>
                    <a class="list-group-item list-group-item-action" href="#section8">Qualify your lender</a>
                </div>
            </div>
            <div class="col-sm-9">
                <div id="section1">
                    <h2>
                        Mortgage Application Steps
                    </h2>
                    <p>
                        The loan and mortgage process is a stressful and sometimes frustrating process. The idea is to
                        make the entire process go as smoothly as possible. What is most important? Be prepared before
                        you sit down with your loan officer. Here are some things you can do to help ensure successful
                        results, as well as give you some control over your own loan process.
                    </p>
                </div>

                <div id="section2">
                    <h2>
                        Take time to Straighten out your finances
                    </h2>
                    <p>
                        If you don’t have a grip on what’s coming in and what’s going out (and where, and why), you may
                        be in for a rough time when you apply for a home loan.
                    </p>
                </div>

                <div id="section3">
                    <h2>
                        Make sure to check your credit record
                    </h2>
                    <p>
                        There are two credit bureau in Canada. There are Equifax and Transunion. You can visit their
                        website <a href="http://www.equifax.ca/">equifax.ca</a> or <a
                            href="http://www.transunion.ca">transunion.ca</a> to check your credit records.
                        Everyone’s heard the horror stories: Your best friend, your sister, neighbor, goes to buy a home
                        only to discover the worst… that the credit report contains negative or inaccurate credit
                        information. Instead of having a clean record, he or she has an $80,000 outstanding bill, that
                        is not their own. The loan officer looks at the outstanding bill and gives you a choice: Clean
                        up the credit problem or no loan. Some choice. And you’ve probably heard how difficult it is
                        going to be to get your credit history cleaned up. Maybe so, but it’s important to try
                        nonetheless. Here’s what to do: First, order a credit report on yourself. You can contact
                        Equifax By phone1 800 465-7166 or online at: <a href="http://www.equifax.ca/">equifax.ca</a> and
                        Transunion by phone
                        1-866-525-0262 or online at <a href="http://www.transunion.ca">transunion.ca</a> .
                    </p>

                    <p>
                        For few dollors, you can get your credit report. This is the same information lenders will
                        receive. By getting a copy of your credit report before you apply for a loan, you’ll get a first
                        look at any problems or discrepancies that have sprung up.
                    </p>

                    <p>
                        Let’s backpedal a moment and talk about credit bureaus. In this computerized, big-brother-like
                        world we live in, credit bureaus generally have exchange agreements with companies who provide
                        credit, like credit cards (Visa, MasterCard, American Express, and others) and department or
                        retail stores as well as banks, credit unions, and savings and loans.
                    </p>

                    <p>
                        On a daily, weekly, monthly, or semiannual basis, these companies electronically send all their
                        information to the credit bureau, which stores it in a mammoth database and updates the records
                        of each person on file. When you go to any department store like and sign up for its credit
                        card, it calls the credit bureau (to do a credit check) to be sure you have enough funds to pay
                        your bills. Banks do it the same way. When you go to apply for a mortgage, the lender wants to
                        know how many debts are outstanding, and what your track record is in paying them.
                    </p>

                    <p>
                        Credit bureaus provide that information. They can even tell if you’ve been paying your taxes or
                        if you have court judgments against you. So let’s say you’ve ordered your credit report and it
                        turns up an erroneous bill that does not make sense. You realize that this isn’t your bill. What
                        do you do? You could go to the credit bureau, but since they didn’t originate the information
                        (remember, all the information is sent to the credit bureau from the companies giving credit),
                        they probably won’t be able to help you.
                    </p>

                    <p>
                        Instead, go to the source of the problem—the company or credit originator that claims you owe
                        them money. Ask them to pull up the payment record and try to work out whose bill it actually
                        is. (Or if it turns out to be yours, pay it.) There should be some identification other than
                        name that can easily solve the problem, like a Social Insurance Number, the male/female check
                        box, age, race, etc.
                    </p>

                    <p>
                        Once you prove that the bill is not yours, the credit originator should correct its computers.
                        Of course, it may take some time for that correction to work its way through the company’s
                        computers all the way through to the credit bureau. If you’ve started the process before you’ve
                        found a home, you shouldn’t have too much trouble. On the other hand, if you’ve gone to a lender
                        because you’ve found the house of your dreams and then discover your credit is in jeopardy, you
                        may want to get a letter from the credit originator that explains there has been a mistake and
                        it has been corrected. You want to get your name cleared up as quickly as possible.
                    </p>
                </div>

                <div id="section4">
                    <h2>
                        Collect The Information You Need Ahead of Time
                    </h2>
                    <p>
                        It’s a great idea to gather information ahead of time and organize it so that it’s easily
                        accessible for you to review and have corrected. Now, you’ll also need complete copies of your
                        past two or three tax returns plus a current pay stub, or a current profit and loss if you’re
                        self-employed, you’ll be able to have that information on hand when you sit down with your
                        lender.
                    </p>
                </div>

                <div id="section5">
                    <h2>
                        Know The Current Lending Guidelines
                    </h2>
                    <p>
                        Get a current copy of the lending guidelines. If you are applying for a high ratio Mortgage, the
                        federal Canada Mortgage and Housing Corp. (CMHC) must insure these loans. The protection is for
                        the lender, not for you. Mortgage insurance is expensive: it can range up to 2.5 per cent of the
                        value of the loan. You have to insure the entire loan, not just the amount that is above 75 per
                        cent of the purchase price. That means the insurance premium for a $140,000 mortgage would be
                        $3,500. Most lenders will let you roll the insurance premium into your mortgage. If you do,
                        though, you’ll end up paying a good deal of interest on the insurance fee as well.
                    </p>

                    <p>
                        One advantage to this type of financing is that CMHC-insured mortgages become open after three
                        years. All that’s required to pay off your mortgage at that point is to pay a penalty of three
                        months’ interest. (An open mortgage means you can pay it off or refinance at current rates at
                        any point.)
                    </p>
                </div>

                <div id="section6">
                    <h2>
                        CMHC’s 5 Per Cent Down Program
                    </h2>

                    <p>
                        If you are a first-time buyer, you can put as little as 5 per cent down with an insured mortgage
                        — provided you earn enough income to qualify. The amount of money you can borrow under this plan
                        depends on where the house is located. Contact CMHC for more information about your specific
                        situation and location.
                    </p>

                    <p>
                        These loans must be insured, and while you can choose any term you wish, your income must be
                        able to meet the payments required under a three-year term.
                    </p>

                </div>

                <div id="section7">
                    <h2>
                        Conventional Mortgage
                    </h2>

                    <p>
                        Conventional mortgages require a down payment of 20 per cent of the home’s appraised value. If
                        you’re looking at a house with a price tag of $200,000, that means you need to come up with
                        $50,000 of your own money. But if you don’t have that much saved, you may still be able to
                        purchase that property. Although it may seem that the lender’s primary job is disqualifying
                        mortgage applicants, the reverse is true: The lender wants to qualify as many applicants as
                        possible (lenders make their money by approving loans) but are restricted by the rules and
                        regulations of a larger, more powerful body. If you understand up front what your lender is
                        going through, it may help smooth the process.
                    </p>
                </div>

                <div id="section8">
                    <h2>
                        Qualify your lender
                    </h2>

                    <p>
                        Just as you shop for a real estate broker and a new home, it’s very important to shop for a
                        lender, your Realtor© can help you by making recommendations.. Always ask for at least 2-3
                        different Mortgage Lenders. And not all lenders are created equal. Loan products, services,
                        style, and personal attention vary greatly. Look for a lender that is best qualified to meet
                        your needs. Look for someone exceptionally well trained and thoroughly knowledgeable in the
                        mortgage type you want to use. Look for someone who is seasoned in the business and can guide
                        you through with a practiced hand. For example, if you’re self-employed, and you’ve only been
                        self-employed for a year, you may find it more difficult, even though you may have paid every
                        bill on time in your life. The reason for that is that lenders need to see that you’ve been
                        self-employed, maintaining an income for at least two years, and have the tax returns to prove
                        it. At this point, your choices would be to wait until you’ve been self-employed for two years,
                        or go with a sub-par loan (also known as a B or C loan in the lending industry).
                    </p>

                </div>

            </div>
        </div>
    </div>

    <%- include("../../partials/footer") %>