<%- include("../../partials/header") %>

<div class="container">
    <div class="jumbotron">
        <h2>
            Mortgage Applicaiton Tips
        </h2>
        <ul>
            <li>
                If the payments are about the same, you will be further ahead financially by making payments on a
                mortgaged home rather than paying rent on a house or apartment.
            </li>
            <li>
                Paying down your mortgage is like earning the interest that you are paying on it, tax free.
            </li>
            <li>
                Making no attempt to repay a mortgage is the worst thing that a borrower can do.
            </li>
            <li>
                The size of mortgage that you qualify for will be greatly affected by the level of your debt at the time
                of your mortgage application.
            </li>
            <li>
                When renewing your loan or selling your house, look for options and features that afford you with the
                maximum amount of flexibility.
            </li>
            <li>
                The faster you pay down your mortgage, the sooner you will have extra capital for investments.
            </li>
            <li>
                Look for a mortgage that offers the best prepayment privileges.
            </li>
            <li>
                Increasing the frequency of mortgage payments will reduce overall interest costs.
            </li>
            <li>
                As a general rule, you should not spend more than 30 per cent of you gross combined family income on
                mortgage payments.
            </li>
            <li>
                When purchasing a home, always remember that the price is negotiable and that you can make a counter
                offer.
            </li>
            <li>
                Remember that flexibility allows a homeowner to exploit their cash flow and pay down the principal
                faster. The flexibility is negotiated before you sign on the dotted line, not after.
            </li>
            <li>
                Shop around for the lowest possible interest rate when purchasing a mortgage or any other loan.
            </li>
            <li>
                Beware of the mortgage pre-approval trap as it might have you paying too much for your dream home. Just
                because you can borrow a large sum of money doesn’t mean that you should necessarily spend that much.
            </li>
            <li>
                Remember that if you are changing mortgage lenders, the same qualifying factors may apply. You may be
                facing both legal and appraisal fees so investigate all associated costs before you act.
            </li>
            <li>
                Shop around for the best deal on a mortgage before getting the pre-approval in writing. You can reduce
                the amount of interest paid over the life of your mortgage by opting for a shorter amortization period.
            </li>
            <li>
                If you are guaranteed an appreciation rate that is a few points above inflation and the monthly costs of
                renting are the same as buying, it is a good time to purchase a home.
            </li>
            <li>
                Typically, lenders are looking for you to invest 20 per cent of the appraised value as a down payment
                towards a home. They will normally advance the balance of 80 per cent.
            </li>
            <li>
                If interest rates have fallen when the time comes to refinance your mortgage, continue the same monthly
                payment schedule to pay off the principal sooner than anticipated.
            </li>
            <li>
                If interest rates have fallen when the time comes to refinance your mortgage, continue the same monthly
                payment schedule to pay off the principal sooner than anticipated.
            </li>
            <li>
                Making weekly or bi-monthly payments on your mortgage is an effective way of paying off the debt
                quickly.
            </li>
            <li>
                When the interest rates of most lenders are at the same level, the only way for them to compete is
                through the terms and conditions of the mortgage.
            </li>
            <li>
                Visit the bookstore to find publications on home ownership and obtaining a mortgage.
            </li>
        </ul>
    </div>

</div>

<%- include("../../partials/footer") %>