<%- include("../../partials/header") %>

<body data-spy="scroll" data-offset="15" data-target="#myScrollspy">
    <div class="container">
        <h1>Types of Mortgages</h1>
        <p class="lead"><i>Scroll this page and see how the nav items are highlighted automatically based on the scroll
                position.</i></p>
        <div class="row">
            <!-- <div class="col-sm-3" id="myScrollspy">
                <nav id="navbar-scrollspy" class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <nav class="nav nav-pills flex-column">
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action active" href="#section1">Section One</a>
                            <a class="list-group-item list-group-item-action" href="#section2">Section Two</a>
                            <a class="list-group-item list-group-item-action" href="#section3">Section Three</a>
                            <a class="list-group-item list-group-item-action" href="#section4">Section Four</a>
                            <a class="list-group-item list-group-item-action" href="#section5">Section Five</a>
                        </div>

                    </nav>
                </nav>

            </div> -->
            <div class="col-sm-3" id="myScrollspy">
                <nav id="navbar-scrollspy" class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <nav class="nav nav-pills flex-column">

                        <a class="nav-link" href="#section1">Types of Mortgages</a>
                        <!-- <nav class="nav nav-pills flex-column">
                            <a class="nav-link ml-3 my-1" href="#section1-1">Item 1-1</a>
                            <a class="nav-link ml-3 my-1" href="#section1-2">Item 1-2</a>
                        </nav> -->
                        <a class="nav-link" href="#section2">Pre-Approved Mortgage</a>
                        <a class="nav-link" href="#section3">Conventional Mortgage</a>
                        <!-- <nav class="nav nav-pills flex-column">
                            <a class="nav-link ml-3 my-1" href="#section3-1">Item 3-1</a>
                            <a class="nav-link ml-3 my-1" href="#section3-1">Item 3-2</a>
                        </nav> -->
                        <a class="nav-link" href="#section4">High-Ratio Mortgage - CMHC Insured / GE Capital Insured</a>
                        <a class="nav-link" href="#section5">First Mortgages</a>
                        <a class="nav-link" href="#section6">Fixed-Term Mortgages</a>
                        <a class="nav-link" href="#section7">The Adjustable Rate Mortgage (A.R.M.)</a>
                        <a class="nav-link" href="#section8">Secured Lines of Credit</a>
                        <a class="nav-link" href="#section9">Equity Mortgages</a>
                        <a class="nav-link" href="#section10">Multiple Term Mortgages</a>
                    </nav>
                </nav>

            </div>
            <div class="col-sm-9">
                <div id="section1">
                    <h2>
                        Types of Mortgages
                    </h2>

                    <p>
                        While a mortgage is fundamentally a loan that is secured against your home, there are many
                        variations to the type of mortgage that can be used for various needs. Based on your goals and
                        risk characteristics there may be a number of different mortgage products that will meet your
                        needs.
                    </p>

                    <p>
                        Below you will find a sampling of the many different types of mortgages that you may be exposed
                        to. While there are hundreds of other combinations - these are the ones you will most commonly
                        hear about or come across. Trying to figure out which is appropriate for your situation may seem
                        daunting, but we take great care to not overwhelm you during the process. For this reason, one
                        of the first steps in our mortgage process is to arrange a consultation where we can discuss and
                        review your financial goals in detail - and then go over some options of the type of mortgage
                        that may be right for you.
                    </p>
                </div>
                <hr>
                <div id="section2">
                    <h2>
                        Pre-Approved Mortgage
                    </h2>

                    <p>
                        A Pre-Approved mortgage is a Free and No-Obligation deal that lets you know before you go
                        looking for your home or signing an offer to purchase, how much you can afford to borrow based
                        on your qualification and personal credit rating. We’ll arrange for you the most competitive
                        rates with longest rate guarantee period that goes up to 120 days - if rates go higher, your
                        rate will not be affected, and if rates go lower, you get the lower rate. This protection is
                        solely responsible for savings thousands of dollars for many people who obtained a pre-approval
                        and the rates increased afterwards.
                    </p>
                    <p>
                        Too often in the past, the mortgage was left to the very end, but with our Online Pre-Approval
                        or by simply e-mailing us, we can take care of this important process within hours. Once you are
                        Pre-Approved, you can confidently negotiate an offer on a home. A seller also prefers to
                        negotiate an offer of a purchaser who has been pre-approved. With more lenders, lower rates, and
                        no-cost, no-obligation, make us your choice for your pre-approval.
                    </p>
                </div>
                <hr>
                <div id="section3">
                    <h2>
                        Conventional Mortgage
                    </h2>
                    <p>
                        A conventional mortgage is a loan that does not exceed 80% of the purchase price or appraised
                        value of the home, whichever is less. This type of mortgage does not have to be insured against
                        default. High-Ratio Mortgage - CMHC Insured / GE Capital Insured
                    </p>
                </div>
                <hr>
                <div id="section4">
                    <h2>
                        High-Ratio Mortgage - CMHC Insured / GE Capital Insured
                    </h2>
                    <p>
                        A high-ratio mortgage is a loan that is above 80% and up to 95% of the purchase price or
                        appraised value of the home, whichever is less. These mortgages must me insured against loss by
                        either Canada Mortgage and Housing Corporation (CMHC), a Federal Government Corporation, or GE
                        Capital, a private insurer. The premiums can be added to the mortgage amount or paid at closing,
                        and are as follows:
                    </p>
                </div>
                <div class="table-responsive table-hover">
                    <table class="table" style="text-align: center;">
                        <thead>
                            <tr>
                                <th scope="col">Loan-to-Value</th>
                                <th scope="col" colspan="2">Premium on Total Loan</th>
                                <th scope="col" colspan="2">Premium on Increase to Loan Amount for Portability and
                                    Refinance</th>
                            </tr>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Standard Premium</th>
                                <th scope="col">Self-Employed without 3rd Party Income Validation</th>
                                <th scope="col">Standard Premium</th>
                                <th scope="col">Self-Employed without 3rd Party Income Validation**</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>Up to and including 65%</td>
                                <td>0.50%</td>
                                <td>0.80%</td>
                                <td>0.50%</td>
                                <td>1.50%</td>
                            </tr>
                            <tr>
                                <td>Up to and including 75%</td>
                                <td>0.65%</td>
                                <td>1.00%</td>
                                <td>2.25%</td>
                                <td>2.60%</td>
                            </tr>
                            <tr>
                                <td>Up to and including 80%</td>
                                <td>1.00%</td>
                                <td>1.64%</td>
                                <td>2.75%</td>
                                <td>3.85%</td>
                            </tr>
                            <tr>
                                <td>Up to and including 85%</td>
                                <td>1.75%</td>
                                <td>2.90%</td>
                                <td>3.50%*</td>
                                <td>5.50%*</td>
                            </tr>
                            <tr>
                                <td>Up to and including 90%</td>
                                <td>2.00%</td>
                                <td>4.75%</td>
                                <td>4.25%*</td>
                                <td>7.00%*</td>
                            </tr>
                            <tr>
                                <td>Up to and including 95%</td>
                                <td>2.75%</td>
                                <td>N/A</td>
                                <td>4.25%*</td>
                                <td>*</td>
                            </tr>
                            <tr>
                                <td>90.01% to 95% —
                                    Non-Traditional Down Payment***</td>
                                <td>2.90%</td>
                                <td>N/A</td>
                                <td>*</td>
                                <td>N/A</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <p>
                    Please refer to CMHC Borrowing Costs for an updated schedule of rates and exceptions. You may also
                    call one of the Calum Ross team members for more information. A little-known benefit of CMHC-insured
                    mortgages:
                </p>

                <p>
                    When interest rates fall, many borrowers want to renegotiate their mortgages but few have the right
                    to do so, unless their mortgages are fully open. But if you obtained a longer-term mortgage, insured
                    by CMHC, you can prepay it on payment of 3 months interest penalty - a lot cheaper than the Interest
                    Rate Differential (IRD), which is the difference between the mortgage rate and current rates, on the
                    outstanding balance, for the rest of the mortgage term. For example, if the difference in the
                    interest rate was 2%, and the outstanding mortgage amount was $100,000 (which is locked in at 8%)
                    and it had 2 more years to go until maturity, the IRD penalty would be approximately $4,000, whereas
                    the 3 months’ bonus would be $2,000. (To help you with the payment of the penalty, we have
                    "cash-back programs" that will give you up to 3% of the mortgage amount).
                </p>

                <p>
                    Also, if you obtained an insured mortgage after April 1’st, 1997, the premium you paid on the
                    mortgage is now portable to another property (if you closed before this date, it is not portable,
                    meaning that if you bought another home and your mortgage needed to be insured, you must pay the
                    applicable premium again.) NOTE: This insurance is for the benefit of the lender against default. It
                    is very costly and there is another way we can arrange a mortgage for you with a low down payment.
                    That is with a 1’st mortgage and a 2’nd mortgage. For your unique situation, it may be less costly
                    to consider this option. Banks, on the other hand, cannot offer you this option as they cannot
                    provide secondary financing over 75% of the purchase price or value of the property.
                </p>

                <hr>
                <div id="section5">
                    <h2>
                        First Mortgages
                    </h2>

                    <p>
                        A First mortgage is the first debt registered against a property that is secured by a first
                        "charge" on the property. If a default on the mortgage occurs, the first lender has first right
                        on the property to recover the outstanding principal and interest costs, and any other costs
                        incurred during the process. Second Mortgages: A second mortgage is a debt registered after a
                        first mortgage has been registered. In most cases, the interest charged on the second is higher
                        than the first, reflecting the higher risk to the lender, but over a short term, still more cost
                        effective than paying the high cost of the CMHC/GE Capital insurance premium. They can be used
                        to finance up to 90% of the purchase price or value of the home. Open Mortgages
                    </p>

                    <p>
                        An open mortgage allows you the flexibility to repay the mortgage at any time without penalty.
                        Open mortgages are available in shorter terms, 6 months or 1 year only, and the interest rate is
                        higher than closed mortgages as much as 1%, or more. They are normally chosen if you are
                        thinking of selling your home, or if you are expecting to pay off the whole mortgage from the
                        sale of a another property, or an inheritance (that would be nice). Closed Mortgages
                    </p>

                    <p>
                        A closed mortgage offers the security of fixed payments for terms from 6 months to 10 years. The
                        interest rates are considerably lower than open, and if you are not planning on any one of the
                        above reasons, then choose a closed mortgage. Nowadays, they offer as much as 20% prepayment of
                        the original principal, and that is more than most of us can hope to prepay on a yearly basis.
                        If one wanted to pay off the full mortgage prior to the maturity, a penalty would be charged to
                        break that mortgage. The penalty is usually 3 months interest, or interest rate differential
                        (I.R.D. - please refer to glossary for detailed explanation).
                    </p>
                </div>

                <div id="section6">
                    <h2>
                        Fixed-Term Mortgages
                    </h2>

                    <p>
                        With a fixed-rate mortgage, the interest rate is set for the term of the mortgage so that the
                        monthly payment of principal and interest remains the same throughout the term. Regardless of
                        whether rates move up or down, you know exactly how much your payments will be and this
                        simplifies your personal budgeting. In a low rate climate, it is a good idea to take a longer
                        term, fixed-rate mortgage for protection from upward fluctuations in interest rates.
                    </p>

                </div>
                <hr>

                <div id="section7">
                    <h2>
                        The Adjustable Rate Mortgage (A.R.M.)
                    </h2>

                    <p>
                        The Adjustable Rate Mortgage (A.R.M.) provides a lot of flexibility, especially when interest
                        rates are on their way down. The rate is based on prime minus 0.375% and can be adjusted monthly
                        to reflect current rates, and for the first 3 months of the mortgage, a large discount on the
                        rate is given as a welcoming offer. Typically, the mortgage payments remain constant, but the
                        ratio between principal and interest fluctuates. When interest rates are falling, you pay less
                        interest and more principal. If rates are rising, you pay more interest and less principal, and
                        if they rise substantially, the original payment may not cover both the interest and principal.
                        Any portion not paid is still owed, or you may be asked to increase your monthly payment. This
                        mortgage is fully convertible at any time without any cost to you, if you choose a 3 year term
                        or greater, and offers a 20% prepayment privilege at any times throughout the year. While
                        traditionally, banks offer variable mortgages up to 80% of the purchase price or the value of
                        the home, we can go up to 90% with this product.
                    </p>

                </div>
                <hr>

                <div id="section8">
                    <h2>
                        Secured Lines of Credit
                    </h2>

                    <p>
                        Use the equity in your home that you have built up to purchase investments (where interest costs
                        would be deductible against the earned income), finance home renovations, buy a car, or any
                        other reasonable needs, with rates as low as prime. They can be arranged up to 75% of the
                        purchase price or value of the home, and should you need more, we can arrange another secured
                        line of credit as a Second mortgage up to 90%. Accessing the available credit is as simple as
                        writing a cheque, or using the issued credit and/or debit card. You do not have to draw the
                        money until you need it, and once you make a withdrawal, you can pay of your balance at any time
                        or make monthly payments as low as interest only. As you pay down the balance, you have that
                        much more available credit (revolving credit).Being a secured product, there are the normal
                        legal and appraisal fees that are applicable. From time to time, there are promotions where a
                        lender will cover for part or all of these costs.A word of caution:Although these lines are very
                        flexible and versatile products, great caution and care should be taken. It is very easy and
                        very tempting to use it for everything whereas normal restraint would have been exercised, and
                        suddenly, there are thousands of dollars more that have to be repaid.
                    </p>

                </div>
                <hr>

                <div id="section8">
                    <h2>
                        Equity Mortgages
                    </h2>

                    <p>
                        These are mortgages that are assessed on the equity of the home (market value minus the mortgage
                        amount). They can be as high as 75% of the purchase price or value of the property and if more
                        is required, we can look at a small Second mortgage. These are generally offered to applicants
                        that do not meet the normal income and/or credit qualifying guidelines. You may have little or
                        no income verification, self-employed, and/or your credit may be less-than-perfect.
                    </p>

                </div>
                <hr>

                <div id="section9">
                    <h2>
                        Multiple Term Mortgages
                    </h2>

                    <p>
                        If you wanted the lower rates of a short term mortgage but wanted the security of a long term,
                        why not choose both. Yes, "build your own mortgage" product. You can split your mortgage in to
                        as many as 5 parts, all having different terms, rates, and amortizations, but one total monthly
                        payment. This way, you are spreading the risk. But, be prepared to be "hands-on" and watch the
                        market very carefully here. This is not for everyone, as the time and stress levels are quite
                        high.
                    </p>

                </div>
                <hr>

                <div id="section10">
                    <h2>
                        The 6 Month Convertible Mortgage
                    </h2>

                    <p>
                        When rates are on their way down, or you may feel that they will in the near future, a 6 month
                        convertible mortgage offers you the short term commitment at fixed payments, with an added
                        advantage that while within the term, the mortgage is fully convertible to a longer term from 1
                        year to 10 years. At the end of the 6 month period, the mortgage becomes fully open, where one
                        can renew with the existing lender or transfer to another lender. Even though it is offered at
                        many financial institutions, there are differences from one to the next.
                    </p>

                </div>
                <hr>

                <div id="section11">
                    <h2>
                        All-Inclusive-Mortgage (A.I.M.)
                    </h2>

                    <p>
                        The AIM mortgage takes care of everything automatically. For Purchases, it includes: Solicitor’s
                        legal fees and standard disbursements to close the purchase and mortgage; Title transfer; Title
                        Insurance from LandCanada for the clients; CMHC application fee or Appraisal fee; 1% Cash-Back
                        to cover Land Transfer Tax; Registration of Deed and Mortgage. For Refinances, it includes:
                        Legal fees and standard disbursements to prepare and close the mortgage; Title Insurance from
                        LandCanada; CMHC application fee or appraisal fee; 1% Cash-Back; Registration of new first
                        mortgage; Registration of discharge of existing first and second mortgage. The minimum term
                        available is a 5 year term.
                    </p>

                </div>
                <hr>

                <div id="section12">
                    <h2>
                        Bridge Loan
                    </h2>

                    <p>
                        Bridge loan refers to a special, short-term loan needed to cover the time gap when two
                        properties, both firm sales, are involved and the closing dates don’t match. The property being
                        purchased closes before the one that was sold. There is a small set-up fee charged by the lender
                        to have the bridge loan arranged, plus the cost of the interest as now you are carrying both
                        properties for a short time. The rate charged on the bridge loan is about 2-3% above the bank’s
                        prime.
                    </p>

                </div>
                <hr>

                <div id="section13">
                    <h2>
                        RSP Mortgage
                    </h2>

                    <p>
                        The Home Buyers’ Plan is a program established by the federal government that allows
                        individuals, who are qualified first-time home buyer (as defined by Canada Customs and Revenue
                        Agency – see CCRA link below) to withdraw of up to $20,000 tax-free from your RRSPs to buy or
                        build a qualified home, located in Canada that must be the buyer’s principal residence.
                    </p>

                    <p>
                        This amounts to $20,000 per applicant or $40,000 per couple. The borrower must be a resident of
                        Canada and must pass the eligibility test at the link above. To participate, you must complete
                        "Form T1036" and provide this form to the institution that holds your RRSPs that you would like
                        to withdraw. These forms can be easily downloaded from the CCRA website.
                    </p>

                    <p>
                        If you participate in the Home Buyers’ Plan you must repay the amount you withdrew within a
                        15-year period in an amount no less than 1/15th per year. If you repay less than the amount you
                        should repay, that difference is then added to your taxable income on your income tax return and
                        you are taxed at your marginal tax rate.
                    </p>

                </div>
                <hr>

                <div id="section14">
                    <h2>
                        Cash Back Mortgages
                    </h2>

                    <p>
                        You can receive as much as 7% of the mortgage amount paid to you at closing in Canada. That’s
                        $14,000 on a $200,000 mortgage. This program is available to everyone, but since it is really
                        designed for first-time home buyers, it could help you in the following ways: closing costs,
                        appliances and/or furniture, reduction of other debt, or making a prepayment on your mortgage
                        following your closing.
                    </p>

                    <p>
                        The Canadian cash back program can also be used by someone who already has a mortgage with a
                        rate that is considerably higher than the current rate and is in a situation where it pays to
                        break the mortgage and use the cash back to pay for the penalty costs. Mortgage advice like this
                        can result in saving thousands of your after-tax dollars.
                    </p>

                </div>
                <hr>



            </div>
        </div>
    </div>

    Source: The Canadian Real Estate Association












    <%- include("../../partials/footer") %>