<%- include("../../partials/header") %>
<div class = "container">
    <div class="jumbotron">
        <h1>What is a mortgage?</h1>
        <h5>
            A mortgage is a loan that uses a property as security to ensure that the debt is repaid. The borrower is
            referred to as the mortgagor, the lender as the mortgagee. The actual loan amount is referred to as the
            principal, and the mortgagor is expected to repay that principal, along with interest, over the repayment period
            (amortization) of the mortgage.
        </h5>
        <h5>
            A mortgage can be used for financing many different things, including:
        </h5>
        <ul>
            <li>
                Purchasing or constructing a new home
            </li>
            <li>
                Purchasing an existing home
            </li>
            <li>
                Refinancing to consolidate debts
            </li>
            <li>
                Financing a renovation
            </li>
            <li>
                Financing the purchase of other investments
            </li>
            <li>
                Financing the purchase of investment property
            </li>
        </ul>
        <h5>
            Since a mortgage is a fully secured form of financing, the interest you pay is usually less than with most other
            types of financing. Many people use the equity in their homes to finance the purchase of investments. Using a
            Secured Line of Credit, or a fixed-rate mortgage, the interest costs are lower, and they can even write off
            those interest costs against their taxable incomes.
        </h5>
    </div>
</div>

<%- include("../../partials/footer") %>