<%- include("../../partials/header") %>

<body data-spy="scroll" data-offset="15" data-target="#myScrollspy">
    <div class="container">
        <h1>Buying a House</h1>
        <p class="lead"><i>Scroll this page and see how the nav items are highlighted automatically based on the scroll
                position.</i></p>
        <div class="row">
            <div class="col-sm-3" id="myScrollspy">
                <nav id="navbar-scrollspy" class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <nav class="nav nav-pills flex-column">
                        
                        <a class="nav-link" href="#section1">Buying a House</a>
                        <!-- <nav class="nav nav-pills flex-column">
                            <a class="nav-link ml-3 my-1" href="#section1-1">Item 1-1</a>
                            <a class="nav-link ml-3 my-1" href="#section1-2">Item 1-2</a>
                        </nav> -->
                        <a class="nav-link" href="#section2">What’s Out There?</a>
                        <a class="nav-link" href="#section3">Quick Service with the MLS® System</a>
                        <!-- <nav class="nav nav-pills flex-column">
                            <a class="nav-link ml-3 my-1" href="#section3-1">Item 3-1</a>
                            <a class="nav-link ml-3 my-1" href="#section3-1">Item 3-2</a>
                        </nav> -->
                        <a class="nav-link" href="#section4">Touring a House</a>
                        <a class="nav-link" href="#section5">Making an Offer</a>
                        <a class="nav-link" href="#section6">Conditions</a>
                        <a class="nav-link" href="#section7">The Mortgage</a>
                        <a class="nav-link" href="#section8">Pre-approved Mortgages</a>
                        <a class="nav-link" href="#section9">Conventional Mortgages</a>
                        <a class="nav-link" href="#section10">High-ratio Mortgages</a>
                        <a class="nav-link" href="#section11">Vendor Take-Back Mortgages</a>
                        <a class="nav-link" href="#section12">Open and Closed Mortgages</a>
                        <a class="nav-link" href="#section13">Those Extra Expenses</a>
                        <a class="nav-link" href="#section14">Closing</a>
                    </nav>
                </nav>

            </div>
            <div class="col-sm-9">
                <div id="section1">
                    <h2>Buying a House</h2>
                    <h6>What Do You Want?</h6>
                    <h6>Begin by listing your needs:</h6>
                    <ul>
                        <li>
                            Living requirements (i.e. how many bedrooms);
                        </li>
                        <li>
                            Family size;
                        </li>
                        <li>
                            What you’re bringing with you from your old house;
                        </li>
                        <li>
                            How close to schools, shopping and other services;
                        </li>
                        <li>
                            The size of down payment you can afford; and,
                        </li>
                        <li>
                            Price range.
                        </li>
                    </ul>

                    <p> It’s important to be realistic when you’re thinking about a down payment and setting a price
                        range. You don’t want to be saddled with something you can’t afford. At this stage, it’s a
                        good idea to talk things over with real estate sales professional.
                    </p>
                </div>
                <hr>
                <div id="section2">
                    <h2>What’s Out There?</h2>
                    <br>
                    <h6>
                        The marketplace offers both resale homes and new homes. However, since this document deals with
                        resale homes, we will concentrate on them. (If you’re interested in a new home, talk with your
                        salesperson.)
                    </h6>
                    <br>
                    <h6>
                        Resale homes are more likely to be in established neighborhoods, close to amenities and have
                        mature trees and gardens.
                    </h6>
                    <br>
                    <h6>
                        Remember, however, a resale home has been lived in. It has been exposed to the elements for a
                        number of years. The house may have experienced some degree of shrinkage and settling.
                    </h6>
                </div>
                <hr>
                <div id="section3">
                    <h2>Quick Service with the MLS® System</h2>
                    <p>
                        Most boards have their MLS® systems on computer. By sitting down at a keyboard, the REALTOR can
                        key in your needs, choice of neighborhoods and price range and immediately come up with a list
                        of suitable properties. Some computer systems are more extensive than others. Some even show a
                        photograph of the house, complete with interior views. Also common are MLS® catalogues, which
                        provide additional information about each property, along with its photograph. Both computer
                        systems and catalogues are updated regularly.
                    </p>
                    <p>
                        As we said earlier, you can also view MLS® listing advertisements via the national Internet
                        website, mls.ca (You can reach it at aboutmls.html). It features area maps, color photographs of
                        available properties and has e-mail links to the listing REALTORS, along with their profiles.
                    </p>
                </div>
                <hr>
                <div id="section4">
                    <h2>Touring a House</h2>
                    <h6>When you visit a house, consider these points:</h6>
                    <ul>
                        <li>
                            What type of wiring does the house have? Does the electrical panel use fuses or circuit
                            breakers?
                        </li>
                        <li>
                            What type of heating system does it use?
                        </li>
                        <li>
                            What about the roof and foundations?
                        </li>
                        <li>
                            What about the plumbing?
                        </li>
                        <li>
                            What about power outlets? Different appliances and power tools use different types.
                        </li>
                    </ul>

                    <h6>
                        There are other things to look at, as well. If you don’t have time or don’t feel comfortable
                        doing it, home inspection services are available for a reasonable fee.
                    </h6>
                </div>
                <hr>
                <div id="section5">
                    <h2>Making an Offer</h2>
                    <h6>
                        In the offer, you are:
                    </h6>

                    <ul>
                        <li>
                            saying how much you’re willing to pay;
                        </li>
                        <li>
                            suggesting a closing date;
                        </li>
                        <li>
                            proposing a set of conditions; and,
                        </li>
                        <li>
                            stating when the offer expires.
                        </li>
                    </ul>
                    <h6>
                        At this time you’ll present a deposit, along with your offer. An appropriate deposit will show
                        your good faith to the seller. The seller’s agent is bound by law to bring all offers to the
                        seller’s attention.
                    </h6>
                    <h6>
                        After your offer is accepted and all the conditions are met, the offer becomes binding on both
                        sides. If you walk away from the deal at that point, you may lose your deposit. You may also be
                        sued for damages. Therefore, make sure you understand and agree with all of the terms of the
                        offer before signing.
                    </h6>
                </div>
                <hr>
                <div id="section6">
                    <h2>Conditions</h2>
                    <h6>
                        Most offers carry some kind of conditions, which have to be met before the sale is complete.
                        Some common types of conditions are:
                    </h6>

                    <ul>
                        <li>
                            You getting a suitable mortgage (include the amount, interest rates and any other figures
                            you feel important)
                        </li>
                        <li>
                            You selling your current home (the seller may continue to look for a buyer, but will give
                            you the right of first refusal)
                        </li>
                        <li>
                            The seller providing a current survey, or a "real property report," showing the location of
                            the house on the property owned by the seller and that there are no encroachments
                        </li>
                        <li>
                            The seller having title to the property (your lawyer will check this out when he or she
                            conducts a title search to see if there are any liens on the property, easements, rights of
                            way or height restrictions)
                        </li>
                        <li>
                            If there is a septic system, the seller should have a health inspection certificate, stating
                            the system meets local standards
                        </li>
                        <li>
                            If you still have any doubts about the home’s safety and construction, you may wish to make
                            the purchase conditional on an inspection by a qualified engineer
                        </li>
                        <li>
                            Any inclusions (we’ve talked about this earlier -- basically, what stays and what goes)
                        </li>
                    </ul>
                    <p>
                        The seller may counter your offer, by changing the conditions, price or both. Look at the
                        counter offer in terms of what you’re looking for in a new home: how does it fit in? And you
                        can, of course, always counter the counter offer.
                    </p>
                </div>
                <hr>
                <div id="section7">
                    <h2>The Mortgage</h2>

                    <p>
                        A quick way to see how much you can afford is to use the gross debt-service formula (GDS). Here,
                        the Principal, Interest and Taxes (PIT) on your mortgage loan should not exceed 30 per cent of
                        your gross income. Increasingly, financial institutions will factor energy costs into the PIT
                        formula, moving the rule of thumb GDS from 30 to 32 per cent.
                    </p>
                    <p>
                        You can work it out in reverse: multiply the monthly payment on principal, interest and taxes
                        (include any condominium maintenance fees) by 40. So if your monthly payment for these items is
                        $1,000, you’ll need a gross annual income of at least $40,000. Discuss your mortgage limit and
                        different types of mortgages with your salesperson before you begin seriously looking for a new
                        home.
                    </p>

                    <p>
                        There are several different types of mortgages:
                    </p>

                </div>
                <hr>
                <div id="section8">
                    <h2>Pre-approved Mortgages</h2>
                    <p>
                        Pre-approval means that you as a buyer, have qualified in advance for a mortgage of X dollars,
                        contingent upon the lender approving the property. Many financial institutions offer
                        pre-approved mortgages, with your interest rate guaranteed not to rise for a certain period.
                    </p>
                </div>
                <hr>
                <div id="section9">
                    <h2>Conventional Mortgages</h2>
                    <p>
                        Most banks and trust companies offer standard loans using the property as security and require
                        you to make a monthly blended payment including principal and interest. Conventional mortgages
                        require at least 20 per cent of the purchase price as a down payment.
                    </p>
                </div>
                <hr>
                <div id="section10">
                    <h2>High-ratio Mortgages</h2>
                    <p>
                        If your down payment is less than 20 per cent, you may still qualify for a mortgage, but you
                        will need mortgage insurance. Canada Mortgage and Housing Corporation (CMHC), a federal crown
                        corporation, and GE Capital Mortgage Insurance Company, a private company, provide insurance for
                        high-ratio mortgages.
                    </p>
                </div>
                <hr>
                <div id="section11">
                    <h2>Vendor Take-Back Mortgages</h2>
                    <p>
                        The seller underwrites part of the purchase, as a loan to be repaid by the buyer. These are
                        often used as second mortgages, to bridge any gaps or to make the property more attractive to
                        the buyer. In some provinces, the seller may also transfer the mortgage to the buyer.
                    </p>
                </div>
                <hr>
                <div id="section12">
                    <h2>Open and Closed Mortgages</h2>
                    <p>
                        Open mortgages allow you to make extra payments on the principal, reducing your borrowing costs.
                        Because of this flexibility, interest rates for open mortgages are a little higher. Closed
                        mortgages have no flexibility; you must wait until the term is up to pay your mortgage. However,
                        interest rates for these mortgages are generally lower. In the middle, are the partially open
                        mortgages that have some of the characteristics of both open and closed mortgages?
                    </p>
                    <p>
                        Just as there is a range of mortgage types, there is also a range of repayment schedules. As
                        well as the traditional monthly payment plan, there are now semi monthly, biweekly and even
                        weekly payment schedules. Accelerated repayment options speed up the process even more, paying
                        down the mortgage faster and spending less on interest charges. You may also opt for a shorter
                        amortization period, or mortgage "life". It raises your monthly payments in the short-term, but
                        saves you in the long-term, on the interest you pay.
                    </p>
                </div>
                <hr>
                <div id="section13">
                    <h2>Those Extra Expenses</h2>
                    <p>
                        You should plan on a few extra expenses. In some provinces, you may have to pay a land transfer
                        tax (a sales tax on property). You may also have to pay:
                    </p>
                    <ul>
                        <li>
                            A mortgage broker’s fee (as much as one per cent on the principal);
                        </li>
                        <li>
                            An appraisal fee;
                        </li>
                        <li>
                            Surveying costs (if the seller couldn’t come up with a current survey); and,
                        </li>
                        <li>
                            A high-ratio mortgage insurance premium.
                        </li>
                    </ul>
                    <p>
                        You also face a possible interest adjustment. Mortgages are normally calculated from the first
                        of each month: if your closing date is the same as the beginning of your mortgage, there will be
                        no adjustment. However, if your closing date is July and you move in on June 15, those last 15
                        days are the interest adjustment period. Your lender will expect you to cover the cost of the
                        interest during that time.
                    </p>
                    <p>
                        You’ll also have to reimburse the seller for the unused portion of any prepaid property taxes or
                        utility bills. As well, you must also pay any legal fees, and, if applicable, any REALTOR fees.
                        Be prepared to furnish proof to your lender that you have insured your new house... that will
                        cost, as well.
                    </p>
                </div>
                <hr>
                <div id="section14">
                    <h2>Closing</h2>
                    <h6>
                        Before the house can formally change hands, there are still a few things to do. Here’s what to
                        expect on or before closing day:
                    </h6>
                    <ul>
                        <li>
                            Your lawyer and the seller’s lawyer will arrange to transfer title of the property from the
                            seller to you
                        </li>
                        <li>
                            The mortgage money will be transferred to your lawyer’s trust account, and then to the
                            seller
                        </li>
                        <li>
                            Your lawyer will bill you all additional expenses -- land transfer taxes and any outstanding
                            legal fees
                        </li>
                    </ul>
                    <h3>
                        At this time, be sure to:
                    </h3>
                    <ul>
                        <li>
                            check with your lawyer that everything is as stated in the offer-to-purchase
                        </li>
                        <li>
                            make a pre-possession walk-through with the agent. Is everything in good condition? Is
                            everything you wanted there?
                        </li>
                    </ul>
                    <h6>
                        Once you’re satisfied and the keys to the front door are in your hands, there’s nothing else to
                        say, except...
                    </h6>
                    <h3>
                        Welcome home.
                    </h3>
                    <p>
                        In addition to what is written here, there are good sources of information on how to buy/sell a
                        home from the provincial real estate associations and financial institutions.
                    </p>
                    <p>
                        The comments contained on this site are for information purposes only and do not constitute
                        legal advice. Procedures and laws vary from region to region.
                    </p>
                </div>
            </div>
        </div>
    </div>
    Source: The Canadian Real Estate Association


<%- include("../../partials/footer") %>