<%- include("../../partials/header") %>
<div class="container">
    <div class="jumbotron">

        <h1>
            Why do I need home inspection?
        </h1>

        <p>
            Home inspection prior to purchasing a home or condominium can bring peace of mind when you sign the sales
            contract. Knowing what to expect both inside and out will help you make an informed decision about the value
            of the home and the future upkeep.
        </p>

        <p>
            A home inspection accomplishes two important goals. First, it gives you a chance to determine the condition
            of the house, its structural soundness, and the condition of its mechanical systems. Second, it brings any
            problems to the seller’s attention at a time when they can be resolved before closing a sale.
        </p>

        <p>
            If you sign a contract before inspection, consider including a clause that the sale is contingent upon a
            satisfactory structural inspection, and specify when the inspection is to be carried out. That way, you are
            protected.
        </p>

        <p>
            A comprehensive inspection includes a visual examination of the structure from top to bottom, including the
            heating, air conditioning systems, the interior plumbing and electrical systems, the roof and visible
            insulation, walls, ceilings, floors, windows and doors, the foundation, basement and visible structure.
        </p>

        <p>
            Following the examination, the inspector will provide a report that not only points out possible defects or
            areas of concerns, but also the positive aspects of the structure as well as the type of maintenance that
            will be necessary to keep the home in good shape.
        </p>

        <p>
            Even the most experienced homeowners lack the knowledge and expertise of a professional inspection firm. For
            example, watermarks in the basement may indicate a chronic seepage problem, or simply may be a result of a
            single incident.
        </p>

        <p>
            A professional assessment will provide complete information about the condition of the property you are
            considering and will help avoid any unpleasant surprises after the sale. In addition, a home inspector can
            remain totally objective, while you as a prospective homebuyer may be emotionally involved.
        </p>

        <p>
            The inspection fee for a typical single-family house can vary depending upon the geographic area. The
            particular features of the home such as size, age and special structures will be taken into consideration. A
            decision to have a home inspected is a good investment. You might save many times the cost of inspection by
            being aware of defects, maintenance requirements, and upgrading requirements.
        </p>

        <p>
            Good decorating should not sell you on a house. Remember, you’re also buying structural and mechanical
            systems. Walk through a house twice before you hire an inspector. The first time, look at the rooms, the
            floor plan, and envision your own decorating ideas for the house. The second time, go back and look at the
            condition of the walls, doors, appliance, and plumbing. If the home still looks good after two visits and
            you’re getting serious about the purchase, hire an inspector.
        </p>

        <p>
            Inspectors should be licensed in building-related fields; architects, contractors, and structural engineers
            are good examples. When interviewing a potential home inspection firm, carefully inquire about the specifics
            of their work and company. Ask how long they have been in business, ask for references from previous
            customers. Find out what type of insurance they carry and do they guarantee inspections?
        </p>

        <p>
            A home inspection usually lasts about three hours. Professional inspection companies will be happy to answer
            all your questions. Avoid firms that issue only a verbal report. The report should be in narrative form, not
            just a checklist of items inspected. The home inspector should also issue a written report with accurate
            cost estimates for any major defects discovered during the inspection. You may find it valuable to accompany
            the inspector as he goes through the house.
        </p>

        <p>
            Property inspections are not limited to residential properties. Many inspectors help homeowners with
            analysis and solutions to specific problems such as energy conservation, wet basements or cracked
            foundations. Inspectors also inspect work upon completion to ensure that a contract has been properly
            fulfilled.
        </p>

        <p>
            If you are considering purchasing a home, the Ontario Real Estate Association advises that you invest in an
            inspection by a reputable and qualified inspection firm. Buying a home is one of the biggest decisions you
            will make. Know what you are buying and what your future upkeep obligations will be.
        </p>

        For more information regarding home inspections contact the Ontario Association of Home Inspectors.
        <br>
        Source: Ontario Real Estate Association

    </div>
</div>

<%- include("../../partials/footer") %>