<%- include("../../partials/header") %>
<div class="container">
    <div class="jumbotron">

        <h1>
            Understanding market conditions
        </h1>

        <p>
            The real estate market is always changing, and it helps to understand how market conditions can affect your
            position as a buyer. Your agent can provide you with info on current conditions and explain their impact on
            you. There are three different types market on different time and area.
        </p>

        <h1>
            Buyers’ market
        </h1>

        <p>
            The supply of homes on the market exceeds demand.
        </p>

        <h1>Characteristics</h1>

        <ul>
            <li>
                High inventory of homes
            </li>
            <li>
                Few buyers compared to availability
            </li>
            <li>
                Homes usually stay on the market longer
            </li>
            <li>
                Prices tend to drop
            </li>

        </ul>

        <h1>
            Implications
        </h1>

        <p>
            Prices may be higher or perhaps climbing Must make decisions quickly Conditional offers may be rejected
        </p>

        <h1>
            Balanced market
        </h1>

        <p>
            The number of homes on the market is equal to the number of buyers.
        </p>

        <h1>
            Characteristics
        </h1>

        <ul>
            <li>
                Demand equals supply
            </li>
            <li>
                Sellers accept reasonable offers
            </li>
            <li>
                Homes sell within an acceptable time period
            </li>
            <li>
                Prices generally stable
            </li>
        </ul>

        <h1>
            Implications
        </h1>

        <ul>
            <li>
                less tension among buyers and sellers.
            </li>
            <li>
                More relaxed atmosphere
            </li>
            <li>
                Reasonable number of homes to choose from
            </li>
            
        </ul>

    </div>
</div>

<%- include("../../partials/footer") %>