<%- include("../../partials/header") %>

<body data-spy="scroll" data-offset="15" data-target="#myScrollspy">
    <div class="container">
        <h1>Helpful Moving Tips</h1>
        <p class="lead"><i>Scroll this page and see how the nav items are highlighted automatically based on the scroll
                position.</i></p>
        <div class="row">
            <div class="col-sm-3" id="myScrollspy">
                <nav id="navbar-scrollspy" class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <nav class="nav nav-pills flex-column">
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action active" href="#section1">Helpful Moving
                                Tips</a>
                            <a class="list-group-item list-group-item-action" href="#section2">Personal Accounts</a>
                            <a class="list-group-item list-group-item-action" href="#section3">Utilities</a>
                            <a class="list-group-item list-group-item-action" href="#section4">Utilities</a>
                            <a class="list-group-item list-group-item-action" href="#section5">Professional Services</a>
                            <a class="list-group-item list-group-item-action" href="#section6">Publications</a>

                        </div>

                    </nav>
                </nav>

            </div>
            <div class="col-sm-9">
                <div id="section1">


                    <p>
                        Book the movers. You can choose to have the movers pack everything, or just the breakables, or
                        you can pack yourself. It’s a good idea to obtain estimates from several different companies.
                    </p>
                    <p>
                        Give necessary written notice to your landlord and make arrangements for the return of any
                        monies you have on deposit, if you rent your old home.Make arrangements for the gas and electric
                        utilities, water softener, telephone and cable TV to be connected on the day the sale closes.
                        Dispose safely of all flammable liquids as it is illegal for movers to carry them.
                    </p>

                    <ul>
                        <li>
                            Get "Change of Address" cards from the post office and send out well before moving day.
                        </li>
                        <li>
                            Have the post office forward your mail to your new address.
                        </li>
                        <li>
                            Cancel any contracted services and pre-authorized cheques.
                        </li>
                        <li>
                            Inform gardening, dry cleaning, garbage pick-up, newspapers, magazines, diaper and other
                            home services. Arrange for service at your new address.
                        </li>
                        <li>
                            Obtain a letter of introduction from your current branch to help establish new accounts.
                            Transfer trust or bank accounts and securities.
                        </li>
                        <li>
                            Cancel or transfer social, athletic, civic, religious or business affiliations and memberships.
                        </li>
                        <li>
                            Arrange for transfer of medical, dental, prescription and optical records.
                        </li>
                        <li>
                            Change the address on your driver’s license(s) effective the day of the move.
                        </li>
                        <li>
                            Collect all items out for cleaning, repair or storage. e.g. fur coats, dry cleaning.
                        </li>
                        <li>
                            Make special arrangements for the moving of perishables, such as plants.
                        </li>
                        <li>
                            Make special arrangements for the moving of your pets.
                        </li>
                        <hr>
                        You maybe need to change these address.
                    </ul>

                </div>
                <hr>

                <div id="section2">
                    <h2>
                        Personal Accounts
                    </h2>

                    <ul>
                        <li>
                            Pharmacy
                        </li>
                        <li>
                            Dry Cleaner
                        </li>
                        <li>
                            Lawn Service
                        </li>
                        <li>
                            Bank/Finance Companies
                        </li>
                        <li>
                            Credit Card Companies
                        </li>
                        <li>
                            Laundry Service
                        </li>
                        <li>
                            Auto Finance Company
                        </li>
                        <li>
                            Health Club
                        </li>
                    </ul>


                </div>

                <div id="section3">
                    <h2>
                        Utilities
                    </h2>

                    <ul>
                        <li>
                            Electric
                        </li>
                        <li>
                            Gas
                        </li>
                        <li>
                            Water
                        </li>
                        <li>
                            Telephone
                        </li>
                        <li>
                            Sewer District
                        </li>
                        <li>
                            Trash
                        </li>
                        <li>
                            Cable/Satellite
                        </li>

                        <li>
                            Fuel (Oil/Propane)
                        </li>
                        

                    </ul>

                </div>

                <div id="section4">
                    <h2>
                        Government Offices
                    </h2>

                    <ul>
                        <li>
                            Department of Motor Vehicles
                        </li>
                        <li>
                            Social Security Administration
                        </li>
                        <li>
                            Tax Bureaus
                        </li>
                        <li>
                            City/County Tax Assessor
                        </li>
                        <li>
                            Veterans Administration
                        </li>
                    </ul>
                </div>

                <div id="section5">
                    <h2>
                        Professional Services
                    </h2>

                    <ul>
                        <li>
                            Doctor(s)
                        </li>
                        <li>
                            Dentist
                        </li>
                        <li>
                            Accountant
                        </li>
                        <li>
                            Lawyer
                        </li>
                        <li>
                            Broker
                        </li>
                        <li>
                            Insurance Agency
                        </li>
                    </ul>
                </div>

                <div id="section6">
                    <h2>
                        Publications
                    </h2>

                    <ul>
                        <li>
                            Newspapers
                        </li>
                        <li>
                            Magazines
                        </li>
                        <li>
                            Newsletters
                        </li>
                        <li>
                            Professional Journals
                        </li>
                        
                    </ul>
                </div>
                

            </div>
        </div>
    </div>

    Source: The Canadian Real Estate Association
    <%- include("../../partials/footer") %>