<%- include("../../partials/header") %>
<div class="container">
    <div class="jumbotron">
        <h1>Renting vs. Buying, Which is better?</h1>
        <br>
        <h5>
            Everyone needs a room to live. In most people’s case they end up having to pay either Rent for this roof or
            a Mortgage payment, unless of course you have a rich family that can offer you FREE or Reduced Rent. The
            point is. We ALL have to pay for a roof over our heads.
        </h5>
        <hr>
        <h5>
            Real Estate has always been considered a Long-Term Investment. The real question you need to ask yourself;
            do I really want to pay RENT for the rest of my life? Generally, a home makes financial sense if you are
            going to live in it for at least three, four, or preferably five years. When you buy you need to take into
            consideration the costs involved in buying and selling a home, from appraisal fees and home inspection to
            real estate commissions, all must be taken into consideration.
        </h5>
        <hr>
        <h5>
            When people lose money in the real estate market it is usually because they did not own it long enough, they
            sold to quickly. This usually means within the first 3 years of the purchase. You cannot depend on making
            any real profit in real estate in the first 3 years. In fact, the market may fall after you buy your home.
            However, also keep in mind; the longer you own your property, history has shown us, you can be sure it will
            have increased in value when you come to sell.
        </h5>
        <hr>
        <h5>
            Real estate has proven to be one of the most stable long-term investments there is. It is your guarantee of
            retirement security. Overall, it is far better to own your own home than rent. Not only for the pride of
            ownership but because it is your only long-term hedge against inflation. With rental rates increase
            constantly, there is no guarantee you will be able to afford them as the years go by.
        </h5>
    </div>
</div>



<%- include("../../partials/footer") %>