<%- include("../../partials/header") %>

<div class="container">
    <div class="jumbotron">

        <h1>
            Save your money everyday
        </h1>

        <p>
            The weather has been a little unseasonable lately, but fortunately it won’t last forever. Here is a list of
            inexpensive things that you can do to save money and be more energy efficient at home, And also this will
        </p>

        <ul>
            <li>
                Eliminate cold drafts by air sealing your home with caulking and weather-stripping. 25 - 40% of a home’s
                heat loss can be prevented by proper air sealing.
            </li>
            <li>
                Install a programmable thermostat and give your furnace a break while you’re not home.
            </li>
            <li>
                Use energy efficient lighting such as compact fluorescents.
            </li>
            <li>
                Consider adding insulation, particularly in the attic.
            </li>
            <li>
                When buying new windows select energy efficient features. Look for models that are filled with argon gas
                and that have a low "e"-coating.
            </li>
            <li>
                Consider upgrading your furnace, or even switching to a cheaper fuel source.
            </li>
            <li>
                Use EnerGuide labels to help you buy energy efficient appliances.
            </li>
            <li>
                Unplug that second fridge that you never use.
            </li>
            <li>
                Install a water saving showerhead.
            </li>
            <li>
                Change your furnace filter once a month.
            </li>
            <li>
                Install a humidifier on your furnace.
            </li>
            <li>
                Fix leaky faucets - a dripping tap can waste up to 160 liters of water per day.
            </li>
        </ul>

    </div>
</div>




<%- include("../../partials/footer") %>