<%- include("../../partials/header") %>

<body data-spy="scroll" data-offset="15" data-target="#myScrollspy">
    <div class="container">
        <h1>The cost of home buyer</h1>
        <p class="lead"><i>Scroll this page and see how the nav items are highlighted automatically based on the scroll
                position.</i></p>
        <div class="row">
            <div class="col-sm-3" id="myScrollspy">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action active" href="#section1">The cost of home buyer</a>
                    <a class="list-group-item list-group-item-action" href="#section2">Appraisal Fee</a>
                    <a class="list-group-item list-group-item-action" href="#section3">Home Inspection Fee</a>
                    <a class="list-group-item list-group-item-action" href="#section4">Fire Insurance</a>
                    <a class="list-group-item list-group-item-action" href="#section5">Land Survey Fee Or Title
                        Insurance Fee</a>
                    <a class="list-group-item list-group-item-action" href="#section6">Land Transfer Tax</a>
                    <a class="list-group-item list-group-item-action" href="#section7">New Home Warranty</a>
                    <a class="list-group-item list-group-item-action" href="#section8">Mortgage Application and
                        Processing Fee</a>
                    <a class="list-group-item list-group-item-action" href="#section9">Closing Adjustments</a>
                    <a class="list-group-item list-group-item-action" href="#section10">H.S.T.</a>
                </div>
            </div>
            <div class="col-sm-9">
                <div id="section1">

                    <ul>
                        <li>
                            Purchasing a home involves one-time costs and monthly expenses.
                        </li>
                        <li>
                            The largest one-time cost is the down payment. It usually represents between 5-20% of the
                            total price of the property.
                        </li>
                    </ul>

                    <div class="table-responsive table-hover">
                        <table class="table" style="text-align: center;">
                            <thead>
                                <tr>
                                    <th scope="col">Expense</th>
                                    <th scope="col">When</th>
                                    <th scope="col">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Mortgage Application and Appraisal Fee
                                    </td>
                                    <td>
                                        At time of application
                                    </td>
                                    <td>
                                        There is an appraisal fee of approximately $200 which may be charged for a
                                        mortgage. If the mortgage is high ratio (i.e. the loan is over 80% of the
                                        purchase price), you will require insurance which will range between 1 ¼% - 3 ¾%
                                        of the mortgage amount. There is also 13% HST on the insurance
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Appraisal Fee
                                    </td>
                                    <td>
                                        At inspection
                                    </td>
                                    <td>

                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        Property Inspection (optional)
                                    </td>
                                    <td>
                                        At inspection
                                    </td>
                                    <td>
                                        Approximately $300 - $400
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Legal Fees
                                    </td>
                                    <td>
                                        Closing
                                    </td>
                                    <td>
                                        Negotiable, but generally range from $1000 - $2000. Disbursements are extra.
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Legal Disbursements
                                    </td>
                                    <td>
                                        Closing
                                    </td>
                                    <td>

                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Deed and/or mortgage registration
                                    </td>
                                    <td>
                                        Closing
                                    </td>
                                    <td>

                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Land Transfer, Deed Tax or Property
                                        Purchase Tax (in Quebec within 3 months following signing)
                                    </td>
                                    <td>
                                        Closing
                                    </td>
                                    <td>

                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Property Survey
                                        (sometimes provided by seller)
                                    </td>
                                    <td>
                                        When completed
                                    </td>
                                    <td>

                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Mortgage Interest Adjustment and
                                        Take Over Fee (if applicable)
                                    </td>
                                    <td>
                                        Closing
                                    </td>
                                    <td>

                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Adjustments for Fuel, Taxes, etc.
                                    </td>
                                    <td>
                                        Closing
                                    </td>
                                    <td>
                                        This is money potentially owed to the vendor for prepayment of some or all of
                                        the following: fuel, taxes, hydro, etc.
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Mortgage Insurance
                                        (and application fee if applicable)
                                    </td>
                                    <td>
                                        Closing and on-going
                                    </td>
                                    <td>

                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Home and Property Insurance
                                    </td>
                                    <td>
                                        Closing and on-going
                                    </td>
                                    <td>

                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Connection charges for utilities
                                        such as gas, water and electricity
                                    </td>
                                    <td>
                                        Date of move
                                    </td>
                                    <td>

                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Moving Expenses
                                    </td>
                                    <td>
                                        Date of move
                                    </td>
                                    <td>
                                        This will vary with distance and the type of services contracted for with the
                                        moving company.
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>


                    <hr>


                    <p>
                        According to CMHC and GE Capital, one should have, in addition to the down payment, at least
                        1.5% of the purchase price for closing costs (we say 2-2.5%, just to be on the safe side). The
                        costs vary across provinces, and for that matter, cities.
                    </p>


                    <p>
                        Below you will find a brief explanation of these costs, yet it may not include all items
                        required specific to your property, or the area in which you have purchased. This is a
                        guideline, but your lawyer can provide a fairly close estimate, and is the best resource.
                    </p>

                </div>

                <div id="section2">
                    <h2>
                        Appraisal Fee
                    </h2>
                    <p>
                        The appraisal provides the lenders with a professional opinion of the market value of the
                        property. This cost is normally the borrower’s responsibility and it ranges as low as $100 for a
                        drive-by appraisal to as much as $200 for a full appraisal, and the average being $175, plus
                        HST. Occasionally, the costs could be slightly higher for larger, custom-built homes, or homes
                        in remote parts.
                    </p>
                </div>

                <div id="section3">
                    <h2>
                        Home Inspection Fee
                    </h2>
                    <p>
                        A professional inspection of the home, top to bottom, is for the benefit of the buyer,
                        therefore, that’s who absorbs the cost. A typical home inspection can cost anywhere from
                        $250-$350, but our opinion is that they are well worth the investment. New home buyers may not
                        worry about it, but a definite must for buyers purchasing properties older than 5 years. When
                        hiring a home inspector, make sure the inspector has liability insurance, just in case a mistake
                        is made.
                    </p>

                </div>

                <div id="section4">
                    <h2>
                        Fire Insurance
                    </h2>
                    <p>
                        All mortgage lenders will require a certificate of fire insurance to be in place from the time
                        you take possession of the home. The amount required is generally at least the amount of the
                        mortgage or the replacement cost of the home. This cost can vary on the property size and extras
                        being insured, as well as the insurance company and the municipality. The cost can vary anywhere
                        from $250-$600 for most properties.
                    </p>
                </div>

                <div id="section5">
                    <h2>
                        Land Survey Fee Or Title Insurance Fee
                    </h2>
                    <p>
                        A recent Survey of the property is usually required by the lender, and if one is not available,
                        it normally costs anywhere from $600-$900 for a new survey. In lieu of the Survey, most lenders
                        today will accept Title Insurance, at a much lower price of approximately $225.
                    </p>
                    <h6>
                        Legal Costs and Disbursements:
                    </h6>
                    <p>
                        A lawyer or notary will charge a fee for their professional services involved in drafting the
                        title deed, preparing the mortgage, and conducting the various searches. The disbursements, on
                        the other hand, are out-of-pocket expenses incurred, such as registrations, searches, supplies,
                        etc., plus HST.
                    </p>
                </div>

                <div id="section6">
                    <h2>
                        Land Transfer Tax
                    </h2>

                    <p>
                        Most provinces charge a land transfer tax, payable by the purchaser, and the amount varies from
                        province to province. This tax is based on the purchase price (refer to mortgage ABC’s for exact
                        calculation).
                    </p>

                </div>

                <div id="section7">
                    <h2>
                        New Home Warranty
                    </h2>

                    <p>
                        In many provinces, new homes are covered by a new home warranty program. The cost to the
                        purchaser for this warranty is approximately $600 and should the builder default or fail to
                        build to an agreed-upon standard, the fund will finish or repair the deficiencies.
                    </p>
                </div>

                <div id="section8">
                    <h2>
                        Mortgage Application and Processing Fee
                    </h2>

                    <p>
                        On a high-ratio insured mortgage (mortgages above 80% of the purchase price), the mortgage
                        insurer (CMHC or GE Capital) charges a fee of $165-$185 for applying and processing the file, as
                        well as appraising the property. On new homes, this fee drops to $75.
                    </p>

                </div>

                <div id="section9">
                    <h2>
                        Closing Adjustments
                    </h2>

                    <p>
                        An estimate should be made for closing adjustments for bills that the seller has prepaid such as
                        property taxes, utility bills, and other charges. Any bills after the closing date are the
                        purchaser’s responsibility. Your lawyer/notary will let you know what they are exactly once the
                        various searches have been completed.
                    </p>

                </div>

                <div id="section10">
                    <h2>
                        H.S.T.
                    </h2>

                    <p>
                        On the purchase of a newly constructed home, HST is payable, but make sure you know who pays
                        this, you or the builder. Therefore, on the offer, the purchase price will say "Plus HST" or
                        "HST Included", and who gets the HST new home rebate. A lot of builders have included this cost
                        into the purchase price so that the buyer does not have to come up with that at closing. (As
                        well, this tax is also charged on all professional fees).
                    </p>

                    <p>
                        The other cost may include landscaping, redecorating, furnishings and appliances repairs.
                    </p>

                </div>

            </div>
        </div>
    </div>

    <%- include("../../partials/footer") %>