<%- include("../../partials/header") %>

<div class="container">
    <div class="jumbotron">
        <h1>The Elements of An Offer</h1>

        <ul>
            <li>
                Price Depending on the local market conditions, your opinion of value and market information provided by
                your Real Estate Professional, the price you offer may be different from the seller’s asking price.
            </li>
            <li>
                Deposit The deposit shows your good faith and will be applied against the purchase of the home when the
                sale closes. Your Real Estate Professional can advise you on an appropriate amount.
            </li>
            <li>
                Terms Includes the total price offered and the financing details. You may arrange your own financing or
                ask to assume the seller’s mortgage, especially if it has an attractive interest rate.
            </li>
            <li>
                Conditions These might include "subject to home inspection", "subject to you obtaining financing", or
                "subject to you selling your property".
            </li>
            <li>
                Inclusions and Exclusions These might include appliances and certain fixtures or decorative items, such
                as window coverings or light fixtures.
            </li>
            <li>
                Closing or Possession Date Generally, the day the title of the property is legally transferred and the
                transaction of funds finalized unless otherwise specified (except in Manitoba and Quebec). Note: In
                British Columbia the Possession Date is legally 1 to 3 days after closing.
            </li>
        </ul>

    </div>
</div>

<%- include("../../partials/footer") %>