<%- include("../../partials/header") %>

<body data-spy="scroll" data-offset="15" data-target="#myScrollspy">
    <div class="container">
        <h1>Why You Would Want to Move</h1>
        <p class="lead"><i>Scroll this page and see how the nav items are highlighted automatically based on the scroll
                position.</i></p>
        <div class="row">
            <div class="col-sm-3" id="myScrollspy">
                <nav id="navbar-scrollspy" class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <nav class="nav nav-pills flex-column">
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action active" href="#section1">Why do you want to
                                move?</a>
                            <a class="list-group-item list-group-item-action" href="#section2">Your family size has
                                changed.</a>
                            <a class="list-group-item list-group-item-action" href="#section3">You are looking for
                                better schools.</a>
                            <a class="list-group-item list-group-item-action" href="#section4">You need to close your
                                work place.</a>
                            <a class="list-group-item list-group-item-action" href="#section5">You do not like
                                remodeling.</a>
                            <a class="list-group-item list-group-item-action" href="#section6">Your current home has a
                                poor floor plan.</a>
                            <a class="list-group-item list-group-item-action" href="#section7">Your yard is too big/too
                                small.</a>
                            <a class="list-group-item list-group-item-action" href="#section8">Renovation is too
                                expensive.</a>
                            <a class="list-group-item list-group-item-action" href="#section9">Your home is already the
                                largest and nicest on the street.</a>
                            <a class="list-group-item list-group-item-action" href="#section10">You do not like your
                                neighborhood.</a>
                            <a class="list-group-item list-group-item-action" href="#section11">You will likely move in
                                the next few years.</a>
                        </div>

                    </nav>
                </nav>

            </div>
            <div class="col-sm-9">
                <div id="section1">
                    <h2>
                        Why do you want to move?
                    </h2>

                    <p>
                        To make the best remodel or move decision, it is important to understand all the reasons that
                        you have to remodel and all the reasons that you have to move. This article reviews common
                        reasons to move. As you read each of these reasons, consider how much it applies to you and note
                        how strongly you feel about each one.
                    </p>

                </div>
                <hr>

                <div id="section2">
                    <h2>
                        Your family size has changed.
                    </h2>

                    <p>
                        Of the many reasons to move, the size of your current home is the most common. Many young
                        couples have purchased a cozy two- or three-bedroom, 1,000-square foot home that suits their
                        situation perfectly. The home has a master bedroom, a guest bedroom, and possibly a home office.
                        A single living area with couches and an entertainment center provides the couple with ample
                        space for the two of them and their visitors. As they start a family, the first child moves into
                        the guest bedroom and toys take over the living area. The perfect house for two becomes too
                        small for three or more.
                    </p>


                </div>

                <div id="section3">
                    <h2>
                        You are looking for better schools.
                    </h2>

                    <p>
                        Unless your children attend private school, where you live usually dictates which school your
                        children attend. This is great for building a sense of community in the neighborhood as children
                        can walk or bike to school together. A school nearby can also cut down on travel time for
                        dropping off and picking up your children.
                    </p>

                </div>

                <div id="section4">
                    <h2>
                        You need to close your work place.
                    </h2>

                    <p>
                        A common reason to move is the change of a job. Be it out of state/province or in another
                        community, most people will only commute so far. If you want to have a shorter commute, then
                        moving may be the only answer.
                    </p>
                </div>

                <div id="section5">
                    <h2>
                        You do not like remodeling.
                    </h2>

                    <p>
                        Remodeling is not for everyone. No matter how it is accomplished, two things are unavoidable:
                        the inconvenience and the decision-making. The inconvenience can be as little as not using your
                        kitchen for a day while it is being painted or as much as moving out for six months while some
                        major work is done. For some, any inconvenience is too much, so a move may be the way to go.
                    </p>
                </div>

                <div id="section6">
                    <h2>
                        Your current home has a poor floor plan.
                    </h2>

                    <p>
                        You may not be able to remodel the house you live in. It may be too costly to make it what you
                        want. If you want a kitchen in front and the family room facing south, but your home has the
                        kitchen in back and the family room facing north, a remodel may be too expensive to be
                        practical. Due to lot size, building codes, or physical barriers, some homes may not lend
                        themselves to remodeling the way you want. Building codes can limit the type and size of
                        additions as well as their appearance.
                    </p>
                </div>
                <div id="section7">
                    <h2>
                        Your yard is too big/too small.
                    </h2>

                    <p>
                        For many, the yard is an integral part of a house. A yard is land to call your own, a place to
                        plant flowers or vegetables or an expanse of grass that you take pride in keeping green and
                        manicured all summer long. Depending on your lifestyle the yard can also be too large and
                        actually create more upkeep than you need or want. No matter what it is about a yard, most of us
                        want one. The question is how big of a yard do you want? There can be good reasons for wanting a
                        smaller yard as well as a larger yard.
                    </p>
                </div>

                <div id="section8">
                    <h2>
                        Renovation is too expensive.
                    </h2>

                    <p>
                        You can profit from an intelligent remodel, but in reality, some remodeling projects are not
                        worth the investment or effort. If your dream is to live in an affluent neighborhood with large
                        lawns and 4,000-square foot homes, and your neighborhood is full of bungalows with single car
                        garages, the chance of getting what you want by remodeling for a reasonable amount of money is
                        unlikely. Remember you never want to be the best home on a street of lesser value homes. The
                        reverse is much better.
                    </p>
                </div>

                <div id="section9">
                    <h2>
                        Your home is already the largest and nicest on the street.
                    </h2>

                    <p>
                        You may have remodeled your home before and now your home is the largest and nicest in the
                        neighborhood. This is great if you love the neighborhood and plan to stay in the home for years
                        to come. However, if you have been remodeling your home because it needs updating and you still
                        have to add additional space or amenities, then a move may be a good idea financially.
                    </p>
                </div>

                <div id="section10">
                    <h2>
                        You do not like your neighborhood.
                    </h2>

                    <p>
                        Each neighborhood has its own characteristics. Some have big yards; some have small. Some have
                        sidewalks and streetlights; some don’t. Some have many rental homes, some have few. Some are
                        full of 1,000-square foot houses; some only have 3,000-square foot houses. Some neighborhoods
                        have kids playing on the street all day long and friendly neighbors stopping by to chat every
                        day. In other neighborhoods, people keep to themselves and rarely wave as they drive by each
                        other on the way to work. As much as we all would like to change some features of our
                        neighborhood, many are out of our control. If the neighborhood doesn’t meet your needs, a move
                        may be the only solution.
                    </p>
                </div>

                <div id="section9">
                    <h2>
                        You will likely move in the next few years.
                    </h2>

                    <p>
                        If there were a wrong time to remodel, it would be right before you move. Don’t go through the
                        expense and the inconvenience of remodeling and then put the house up for sale the next month or
                        the next year. Moving right after a remodel can be costly unless you managed your remodel
                        project very carefully to minimize the cost and maximize the market appeal of the work that was
                        done. Also, moving immediately takes away one of the biggest benefits of remodeling: enjoying
                        the results. If there is a reasonable chance of your moving in the next 24 months, it may be
                        better to move now to get the house you want rather than to remodel.
                    </p>
                </div>

            </div>
        </div>
    </div>

    Source: The Canadian Real Estate Association
    <%- include("../../partials/footer") %>