<%- include("../../partials/header") %>


<body data-spy="scroll" data-offset="15" data-target="#myScrollspy">
    <div class="container">
        <h1>Working With a Realtor</h1>
        <p class="lead"><i>Scroll this page and see how the nav items are highlighted automatically based on the scroll
                position.</i></p>
        <div class="row">
            <div class="col-sm-3" id="myScrollspy">
                <nav id="navbar-scrollspy" class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <nav class="nav nav-pills flex-column">
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action active" href="#section1">Selecting and
                                working with a Realtor</a>
                            <a class="list-group-item list-group-item-action" href="#section2">If you are a buyer</a>
                            <a class="list-group-item list-group-item-action" href="#section3">If you are a seller</a>
                            <a class="list-group-item list-group-item-action" href="#section4">Selecting a Realtor</a>
                            <a class="list-group-item list-group-item-action" href="#section5">Interviewing Realtors</a>
                            <a class="list-group-item list-group-item-action" href="#section6">Be sure to get a resume
                                and references and to ask questions such as</a>
                        </div>

                    </nav>
                </nav>

            </div>
            <div class="col-sm-9">
                <div id="section1">
                    <h2>
                        Selecting and working with a Realtor
                    </h2>

                    <p>
                        Buying or selling a home in today’s market requires a lot of work and a lot of knowledge about
                        sales and real estate. It’s one of the largest purchases or biggest business transactions many
                        of us will ever make. It doesn’t pay to depend on blind luck. Whether you are a buyer or a
                        seller, there are distinct advantages to using a Realtor. A Realtor, is a licensed real estate
                        professional who is a member of a local real estate board, as well as the Canadian Real Estate
                        Association (CREA). This individual has the experience and qualifications needed to successfully
                        conduct a purchase or sale. In Ontario, you can expect strict adherence to provincial law and a
                        code of ethics. This ensures you receive the highest level of service, honesty and integrity.
                    </p>

                </div>
                <hr>

                <div id="section2">
                    <h2>
                        If you are a buyer
                    </h2>

                    <p>
                        In today’s busy, complex world, purchasing a home can be a lot more time-consuming and
                        complicated than other business transactions. First-time buyers, especially, quickly discover
                        that there’s a lot more to buying real estate, than deciding what vacation to take or what car
                        or suit to buy. Using a Realtor from the start can provide you with the sound , effective advice
                        and professional services you need to get the best deal possible. Once a Realtor has a clear
                        understanding of what you want and what you can afford, their knowledge can save you a lot of
                        time looking at homes that aren’t right for you. A Realtor can pre-screen properties so that you
                        should only have to visit a handful of homes to make an informed and wise selection. Much of the
                        early search with a Realtor can be done through the Multiple Listing Service (MLS) and
                        preliminary discussions. As you visit and react to each home you see, the realtor will have an
                        increasingly better idea of what you want and don’t want. A Realtor will also be able to advise
                        you on the various options available for financing a home and tell you when to bring in other
                        experts such as a lender, home inspector, lawyer and insurance agent.
                    </p>


                </div>

                <div id="section3">
                    <h2>
                        If you are a seller
                    </h2>

                    <p>
                        Sometimes a seller will be tempted to sell their home on their own, believing it will save them
                        the cost of the real estate commission. But, selling a home is a very complex procedures,
                        involving large sums of money, stringent legal requirements and the real potential for very
                        costly mistakes. Just as most of us lack the knowledge to do a major repair on the family car,
                        most sellers lack the depth of knowledge, experience and amount of time needed to sell a home on
                        our own. A Realtor not only has the qualifications and expertise, but is committed to spending
                        the time it takes to get the best deal possible.
                    </p>

                </div>

                <div id="section4">
                    <h2>
                        Selecting a Realtor
                    </h2>

                    <p>
                        Before you make a Realtor part of your team, it pays to shop around and sharpen up those
                        interviewing skills. The realtor you select should be someone who knows the neighborhood you
                        live in or want to live in; who can provide you with sound, effective advice; and who has broad
                        and current knowledge of today’s real estate market. Begin by identifying several candidates and
                        interviewing at least two or three before making a final decision. If you were pleased with the
                        services provided by the Realtor who helped you make a previous sale or purchase, he or she may
                        be your best choice. Jot down the names and telephone numbers printed on “For Sale” signs you
                        notice around the neighbourhood, in local real estate ads or publications. Also, ask friends,
                        family and business associates to recommend some names.
                    </p>
                </div>

                <div id="section5">
                    <h2>
                        Interviewing Realtors
                    </h2>

                    <p>
                        The realtor you select should be someone who shows genuine interest, knows the current real
                        estate market and has a good track record in the sale and purchase of properties you’re
                        interested in. This individual should make you feel comfortable and that they have your best
                        interest in mind.
                    </p>
                </div>

                <div id="section6">
                    <h2>
                        Be sure to get a resume and references and to ask questions such as
                    </h2>

                    <ul>
                        <li>
                            How long have you and the firm been in business? How many homes have you sold in the last
                            six months? How close were the sale prices to the asking prices? What price range of homes
                            do you generally handle?
                        </li>
                        <li>
                            Do you provide multiple listing of your property through the Multiple Listing Service (MLS)?
                            (This service provides access to a much broader base of potential buyers.)
                        </li>
                        <li>
                            If selling: How will you market my property? Will the marketing plan include an open house
                            for other Realtors and regular open houses for prospective buyers, advertising and flyers?
                            How did you establish the suggested selling price for this home? Was my home compared to
                            those sold recently in the neighborhood and to those currently on sale? What tips and hints
                            can you offer to make my home show better.
                        </li>
                        <li>
                            What will using your service cost me?
                        </li>
                    </ul>
                    <p>
                        If the Realtor looks enthusiastic about selling your home or helping you buy one, and appears
                        confident in their ability, consider hiring them. But first check their references or talk to
                        people who have recently sold or purchased property through them. Most people who have had a
                        positive experience will be quick to express it.
                    </p>
                </div>

            </div>
        </div>
    </div>

    Source: The Canadian Real Estate Association



    <%- include("../../partials/footer") %>