#searchBoxDropdown {
    padding: 10px;
    width: 324px;
    float: left;
}

.dropdownForm{
    padding: 10px;
    float: left;
}

#typeOfHomeSelector {
    border: 1px solid gray;
    float: left;
}

.jumbotron{
    margin-top: 20px;
}

.listGroup{
    margin-top: 20px;
}

.card-body .card-title{
    color: black;
}

.carousel-item img{
    object-fit: cover;
  height: 500px;
}

body {
    position: relative;
    /* required */
}

.list-group {
    position: sticky;
    /* Supported in latest version of Chrome, Firefox, Safari, Opera and Edge browsers */
    top: 15px;
}

#navbar-scrollspy {
    position: sticky;
    top: 15px;
}

.container .jumbotron h5{
    color: black;
}


/*CAROUSEL CSS*/

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
   }
   
   .carousel-fade  .carousel-item.active,
   .carousel-fade  .carousel-item-next.carousel-item-left,
   .carousel-fade  .carousel-item-prev.carousel-item-right {
     opacity: 1;
   }
   
   .carousel-fade .active.carousel-item-left,
   .carousel-fade  .active.carousel-item-right {
    opacity: 0;
   }
   
   .carousel-fade  .carousel-item-next,
   .carousel-fade .carousel-item-prev,
   .carousel-fade .carousel-item.active,
   .carousel-fade .active.carousel-item-left,
   .carousel-fade  .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
   }
   